---

#### Comments in Python

In [1]:
# this is a comment
### this is also a comment

In [3]:
print('''asdasda
azadsda
asdadasa''')

asdasda
azadsda
asdadasa

In [4]:
'''asds
python
'''

'asds\npython\n'

In [6]:
print('python is prog lang')
print('jupyter is ide')

python is prog lang
jupyter is ide

In [2]:
print(''' this is also a comment 
        but this has multiple
    lines and can have multiple
    sentences and paragrahs
''')

 this is also a comment
    but this has multiple
    lines and can have multiple
    sentences and paragrahs

####  to display output

In [12]:
print('hello world')
print('hello world new')

hello world
hello world new

In [10]:
print('hello world')

hello world

In [13]:
print("hello world")
print("hello new world")

hello world
hello new world

In [8]:
### use of escape sequence "\" "\t", "\n" etc
print('hello\tworld')   ### prints with a tab
print('\n')             ### prints a new line
print('hello\nworld')  ### splits hello and world into 2 lines

hello	world


hello
world

In [9]:
print('it's)

SyntaxError: invalid syntax (<ipython-input-9-abe1b92b6143>, line 1)

In [10]:
### use of apostrophe
print('it\'s a scorching hot pizza')  ### with escape sequence \
print("it's a scorching hot pizza")   ### without escape sequence

it's a scorching hot pizza
it's a scorching hot pizza

In [9]:
print(''' hello world
        multi line 
        print''')

 hello world
        multi line
        print

----

# ARITHMETIC IN PYTHON - START

Basic Arithmetic In Python
-1) Numbers in Python - INTEGERS(both +ve and -ve numbers), Floating point number (decimal numbers)
-2) Basic Arithmetic Operations

In [25]:
## TO PRINT IN PYTHON
## 
print("this is arithmetic add")

this is arithmetic add

In [ ]:
### to check type of a variable

## Addition

In [11]:
## Addition 
print(100 +999)

### jupyter allows for displaying the result without a print function

1099

In [21]:
### printing the addition of 2 numbers
### recommend a print statement
print(100 + 999)

1099

In [5]:
## why recommend print function in jupyter

In [18]:
199 + 229
400+200

### Note that Jupyter displays ONLY the last executed statement even though both statements are actually executed.

600

In [32]:
print(199 + 229)
print(400+200)

428
600

### Subtraction

In [12]:
print(100-20)
print(-100-20)

80
-120

### Multiplication

In [13]:
print(100*20)
print(-100.30  * 21.55)

2000
-2161.465

#### Division

In [14]:
print(300/20)              ### both are integers
print('\n')
print(300.0/20.5)           ### both operands are floats
print('\n')
print(300/20.5)              ### only one operand is a float
### note the result is in decimals, because of the way python 3, does floating point divisions for both integers and floats

15.0


14.634146341463415


14.634146341463415

In [15]:
 ### to get a result as integer- use conversion 
(int)(300/20)

15

In [27]:
x = 'abc'
x
type(x)

str

In [24]:
w=6.0
v=3
print(w/v)
## even if one variable is a float

2.0

In [16]:
### floor division ### to get the quotient
### the // operator it truncates the decimal without rounding and returns only the integer result

## gives a floating result as both the operands is a decimal and when the division is perfect
print(7.0//3.5)

print('\n')

## gives a floating result as 1 of the operands is a decimal, and when the division is perfect
print(7//3.5)    

print('\n')

### truncates the decimal in this case, when the division output is a decimal
print(15//7)

2.0


2.0


2

In [17]:
### Modulo -- remainder
print(7.0 % 4)  # remainder is float when one of the operands is a float

print(7%4) ### remainder is an integer when both are integers

3.0
3

In [18]:
### powers
print(2**4)

16

In [31]:
print(2**-3)

0.125

In [20]:
print(2**0.5)

1.4142135623730951

### BODMAS (Bracket, Orders(numbers involving powers and square root, Division, Multiplication, Addition, Subtraction)

In [19]:
print(2 + 10 * 10 + 3)

105

In [21]:
print((2+10) * (10+3))

156

In [30]:
print((2*3)+3**2- 10)

5

In [36]:
print((0.1+0.2)-(0.3))

### ideally we should get a zero.
### python and our computers follows what is called as "floating point accuracy"
### even though for the naked eye, the answer is zero , python returns a number which extremely closer to zero, 
#### but not exactly zero
#### 5.551115123125783e-17 can be translated as = 1/5.551115123125783 e**17

5.551115123125783e-17

In [38]:
1.2-1.1

0.09999999999999987

In [33]:
### 
#1/(5.55111512)e**17  = .000000000005511

###  ARITHMETIC IN PYTHON --- END

---

## VARIABLES IN PYTHON - START



Variables are objects that hold a value 

eg - var1 = 100   --> 100 is assigned to the variable "var1" 

##### internally what happens
--var1 is assigned an address in the memory and the value of 100 is assigned to var1


Rules in Python for variable names
The names you use when creating these labels need to follow a few rules:

- Names can not start with a number.
- Variables are case sensitive
- There can be no spaces in the name, use _ instead.  WRONG - VAR 1  RIGHT - VAR_1
-  Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
- It's considered best practice (PEP8) that names are lowercase.
- Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
- Avoid using words that have special meaning in Python like "list" and "str"

In [24]:
### let us create an object called myvar0 and assign number 5 to it
myvar0 = 5
print(myvar0)
print(type(myvar0))    
    #### this gives an indentation error. code in python needs to be indented

5
<class 'int'>

In [25]:
myvar0 = 'i am a string'
print(myvar0)
print(type(myvar0))

i am a string
<class 'str'>

In [40]:
myvar00=100 
myvar01= 99.9
print(myvar00)
print(myvar01)
print(type(myvar00))
print(type(myvar01))

100
99.9
<class 'int'>
<class 'float'>

In [41]:
myvar00 = 'string test'
print(type(myvar00))

<class 'str'>

In [26]:
myvar03 = 'i am a string'
print(myvar03)

i am a string

In [27]:
myvar04=['a',1,20.2,30.3]
print('i am a list',myvar04,'\n','my type is ',type(myvar04))

i am a list ['a', 1, 20.2, 30.3]
 my type is  <class 'list'>

In [28]:
myvar05=('a',1,20.2,30.3)
print('i am a tuple',myvar04,'\n','my type is ',type(myvar05))

i am a tuple ['a', 1, 20.2, 30.3]
 my type is  <class 'tuple'>

In [62]:
myvar06={'k1':100,'k2':[199,98.9,'a'],'k3':(100,200,'a9aa')}
print('i am a dictionary',myvar04,'\n','my type is ',type(myvar06))

i am a dictionary ('a', 1, 20.2, 30.3)
 my type is  <class 'dict'>

In [29]:
x=[3000,'x3000','2000']   
myvar07 = set(x)
print('i am a set', myvar07,'\n','my type is',type(myvar07))

i am a set {3000, 'x3000', '2000'}
 my type is <class 'set'>

In [37]:
### jupyter trick - type half of the word "my" and press "TAB" key. we will see list of words that start with word "my"

In [ ]:
## jupyter trick- if we want to know what a particular function does. we can call python help in jupytre by pressing
##  shift + tab key

##### Variable Operations in python

 - Perform Arithmetic with Variables
 - Perform comparisons with Variables

In [30]:
### variable addition/subtraction/multiplication/division/powers\

my_var0 =50
my_var1 = 100

print(my_var0 + my_var1)


### variable subtraction
print(my_var1-my_var0)

150
50

In [31]:
### variable multiplication
print(my_var1*my_var0)

5000

In [43]:
### variable division
print(my_var1/my_var0)

### variable floor division
print(my_var1//my_var0)


### variable modulo
print(my_var1%my_var0)

2.0
2
0

In [59]:
### variable powers
print(my_var1)
print(my_var0)
print(my_var1**my_var0)

100
50
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [33]:
2 > 3

False

In [34]:
var2 = 2
var3 = 3
var2 > var3

False

In [23]:
x=4
y=2
print(x/y)

### python3 automatically guesses that the type of x and y is integer, but when used in division operation
### it gives a floating point result

### to get an integer result
print(int(x/y))

2.0
2

In [30]:
w=6.0
v=3

print(w/v)
## even if one variable is a float

2.0

In [36]:
varx = 100
vary = 200
print(varx)
print(vary)
### check if varx is greater than vary
print(varx > vary)

100
200
False

In [63]:
### check if varx is less than vary
print(varx < vary)

True

In [64]:
print(varx,vary)

100 200

In [37]:
### check if varx = vary
print(varx != vary)
print(varx == vary)

True
False

In [42]:
## round function
varx= 99.55
vary = 2.55
print(varx/vary)
print(round(varx/vary), 2)

39.03921568627451
39 2

In [ ]:
###

### Concept of Dynamic Typing in Python
type of the variable will change based on the value assigned to the variable
vrey powerful, but can be abused if the programmer does not take enough precautions

In [44]:
my_new_var0 = 100
print(my_new_var0)

100

In [50]:
### to check the data type of a variable
type(my_new_var0)

int

In [45]:
### assign a decimal value to the variable my_new_var0
my_new_var0 = 199.99
print(my_new_var0)

199.99

In [53]:
type(my_new_var0)

float

In [54]:
len(my_new_var0)

TypeError: object of type 'float' has no len()

In [28]:
### create a string
my_new_var0 = 'this is a string'
type(my_new_var0)

str

In [116]:
### assign a list to the variable which had a string earlier
my_new_var0 = [1,2,3]
type(my_new_var0)

list

###### forced type conversion

#####  converting from string to list

In [55]:
myvar11 = 'new string'

In [50]:
myvar11

'new string'

In [54]:
print(type(myvar11))

<class 'str'>

In [52]:
### use list function to convert myvar11 string into a list
list(myvar11)

['n', 'e', 'w', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [53]:
type(list(myvar11))
#### the output type is a list ONLY for this execution

list

In [115]:
### note that the original type of myvar11 will remain as a string
type(myvar11)

str

In [118]:
### convert string to numeric

In [124]:
numstr = '12345'
type(numstr)

str

In [129]:
numint = int(numstr)
print(numint)
print(type(numint))

12345
<class 'int'>

In [131]:
dec = 1235.98
type(dec)

float

In [133]:
numdec = int(dec)
print(numdec)
print(type(numdec))

### note decimal is ignored

1235
<class 'int'>

## VARIABLES IN PYTHON - END

---

---