
## Python Data Types are broadly classified as 

1) Mutable Data Types - Data types where individual items can be changed or updated
   Lists
   Dictionary

2) Immutable Data Types -Data types where individual items CANNOT be changed or updated
   Numbers
   Strings
   Tuples


### Different data types in python
 

- Lists
- Tuples
- Dictionary
- Strings
- Sets


### Most Widely Used data types in Python
-- Lists
-- Dictionary
-- String (NLP)

In [1]:
x = 5
print(type(x))

<class 'int'>

In [4]:
x = 500
print(type(x))

<class 'int'>

In [ ]:
x

## LISTS IN PYTHON - START

### LISTS 
- Similar to arrays in other languages
- Comprised of items with multiple data types (different from arrays in other languages)
- Can we altered as they are mutable
- Items in lists are indexed in a sequence, starting with 0
- can contain duplicate values
- Lists are represented as  
        - ['a',1,100.0,"a string",] 
- can take different data types
- Lists are mutable - meaning, every item in a list can be individually updated

In [13]:
myfirstlist = [100,100.99,'A','a','my string',[199,200],(100,200,399)]

### index         0    1        2   3     4        5       6
### reverse indx -7    -6     -5   -4    -3      -2      -1

In [11]:
len(myfirstlist)

7

In [8]:
print(type(myfirstlist))

<class 'list'>

## internal arrangement of characters and indexes in a string 

### letter                -  index    - reverse index
-   h               -   0        -11
-   e                   1        -10
-   l                   2        -9
-   l                   3        -8
-   o                   4        -7
-                       5        -6
-   w                   6        -5 
-   o                   7        -4
-   r                   8        -3
-   l                   9        -2 
-   d                  10        -1

In [2]:
### list of numbers
mylist0 = [199.99,299.090,39292.99]
print(mylist0)
print('\n')
print('type of mylist0:', type(mylist0))

print('\n')

print("the length of mylist for is:", len(mylist0))

[199.99, 299.09, 39292.99]


type of mylist0: <class 'list'>


the length of mylist for is: 3

In [3]:
### list of strings,integers and floats

mylist2 = [100,199.99,'str1','c','112s']
print(mylist2)
print('\n')
print(type(mylist2))
print('\n')

print(len(mylist2))

[100, 199.99, 'str1', 'c', '112s']


<class 'list'>


5

#### Nested Lists - List within a List

In [14]:
### we can have a list within a list (nested lists)
mylist3 = ['A String',100.9,200,[9,10],['a','b'], [1,2,3],['h','i','j']]

print('\n')
### display the contents of mylist3
print("mylist3 has the values: ",mylist3)

print('\n')
### display the length and type mylist3
print('length of mylist3:',len(mylist3), '\n','type of mylist3 is :',type(mylist3))

mylist3 has the values:  ['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]


length of mylist3: 7
 type of mylist3 is : <class 'list'>

In [5]:
### Print length and type of mylist3

### Different Data Types inside the List
  - list can house other datatypes inside them

###### nested lists, Tuples and dictionary inside a list

In [6]:
### we can also have a tuple within a list
mylist4 = ['A String',100.9,200,(90,100),('x','z'), [1,2,3],['h','i','j'], {'k1':'i am a dictionary'}]
print("mylist4 has the values: ",mylist4)

print('\n')
print('type of mylist4:', type(mylist4))

print('\n')

print("the length of mylist for is:", len(mylist4))

mylist4 has the values:  ['A String', 100.9, 200, (90, 100), ('x', 'z'), [1, 2, 3], ['h', 'i', 'j'], {'k1': 'i am a dictionary'}]


type of mylist4: <class 'list'>


the length of mylist for is: 8

### to get the len and type of individual items in the list
  - use list indexing

In [7]:
### if we want to display the type of items 4(index 3) and items 8(index 7)
print(type(mylist4[3]), type(mylist4[-1]))  ### another way to represent last item is mylist4[7]
print(len(mylist4[3]),len(mylist4[-1]))

<class 'tuple'> <class 'dict'>
2 1

 ---

### Accessing Elements(items) from a LIST

##### LIST indexing and Slicing 
 - list indexing works similar to that of string indexing. starts with 0
-  can be sliced like that of a string
- for example mylistex = [19,'AAA' , 200.22,[102,29],(199,22)]
- len of list is len(mylistex) = 5
- Index 0 is 19
- Index 4 is (199,22)

### Reverse Indexing
- index -1 is (199,22)
- index -5 is 19

In [15]:
print(mylist3)
print(len(mylist3))
print(type(mylist3))
\
### indexes 0,1,2,3,4,5,6

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]
7
<class 'list'>

In [9]:
mylist3[0]
print(type(mylist3[0]))

<class 'str'>

In [16]:
mylist200 = [100,100,200,'a']

In [18]:
mylist200[1]

100

In [12]:
print(mylist200.index(mylist200[1]))

0

 ###### extracting specific elements from the list

In [13]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [19]:
######  to grab 100.9 from mylist3 - note 200 is in index 2
print(mylist3[1])
print('\n')

##type of a specific element
print(type(mylist3[1]))

## to get the index of a specific element we can use a built-in method  .index(<give the specific item)
print('index of the value 100.9 is ', mylist3.index(100.9))
print("index of the value 'A String' is ",mylist3.index('A String'))

print('\n')


### grab/extract [9,10] - is in index 3
print(mylist3[3])

### print the type of mylist3[3]
print('type of mylist3[3] is', type(mylist3[3]))

100.9


<class 'float'>
index of the value 100.9 is  1
index of the value 'A String' is  0


[9, 10]
type of mylist3[3] is <class 'list'>

In [15]:
mylist3[3]

[9, 10]

In [20]:
len(mylist3)

7

### IndexError - list out of range error

### during extracting elements individually, we need to specify indexes that are within the index range

In [22]:
mylist3[9]

IndexError: list index out of range

In [ ]:
mylist3[-1]

In [23]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

### extracting more than one element from list data 
   - using slice notation (start:stop,step) 
   - start - starting index from where we want to extract data
   - stop  - ending index + 1
   - step  - skip indexes

In [25]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [24]:
### extracting more than one item randomly
mylist3[3],mylist3[4],mylist3[6]

([9, 10], ['a', 'b'], ['h', 'i', 'j'])

In [26]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [28]:
### to grab 200 all the way till ['a','b']
### start = 2, stop =5 (goes upto index 5 but does not include index 5)
print(mylist3[0:4])

['A String', 100.9, 200, [9, 10]]

In [30]:
### grab all elements from index 2 till the end
print(mylist3[2:7])

[200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [ ]:
mylist3[:]

In [33]:
print(mylist3[2:70])

[200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [ ]:
### grab all the elements from index 2 till the end
mylist3[2:8] 

### note that during slice notation, the ending index can be anything even out of range
### note that even though there is no 7 indexes , the slice notation works because, it stops at the last element in the list

In [34]:
### grab index 2 to index4
print(mylist3[:])

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

### Slice Notation -  Use of Step parameter

In [50]:
### step helps in skipping elements
print(mylist3)

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [51]:
print(mylist3[0:70:2])   ### skips

['A String', 200, ['a', 'b'], ['h', 'i', 'j']]

##### Reverse Indexes in Lists

In [41]:
print(mylist3)
print(mylist3[6])

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]
['h', 'i', 'j']

In [42]:
### reverse index example
### prints the last element
print(mylist3[-1])

### prints the 3rd last element in the list
print(mylist3[-3])

['h', 'i', 'j']
['a', 'b']

In [49]:
mylist3[-5:-4]

[200]

In [52]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

### accessing elements within nested list

 - listname[index in mainlist][index in nested list]
 - works with indexes and reverse indexes

In [53]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [55]:
### grab h of nested list ['h','i','j']
mylist3[6][2]

'j'

In [57]:
### grab h in the  nested list ['h','i','j'], using reverse index  
mylist3[-1][-1]

'j'

In [ ]:
### grab j  of the nested list ['h','i','j']
mylist3[6][2]

In [ ]:
### grab j  of the nested list ['h','i','j'] using reverse index
mylist3[-1][-1]

###### List data extraction using selection - select set of items from the list

In [60]:
mylist3

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [61]:
x=1
y=2

In [62]:
mylist3[x]

100.9

In [64]:
### Extract 200 and 9
xtup = [mylist3[2],mylist3[3][0]]

print(xtup)
print(type(xtup))
### note the output is a tuple why?? because of the way we call the lists myslist3_temp

[200, 9]
<class 'list'>

In [ ]:
### Extract 200 and 9 --output as a list
print(mylist3[2],mylist3[3][0])

### note the output is a tuple why?? because of the way we call the lists myslist3_temp

In [ ]:
### 
mylist3

In [ ]:
### extract 200,10 from mylist3
print( [mylist3[2],mylist3[3][1]] )

In [ ]:
### grab [9,10] and 'b'
print(mylist3)
print( [mylist3[3],mylist3[4][1]] )

### list operations

###### List Concatenation
- when a list gets added with another list its called as "list concatenation"
- a list cannot be added with any other data type

###### List multiplication
  - when a list is multiplied with a number, it simply duplicates the list 


##### Arithmetic Additions/Subtractions in List
-- can only be done at an element level. not at the whole list level
-- adding two full lists will result in list concatenation

In [75]:
mylist3 * 3

['A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 ['h', 'i', 'j'],
 'A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 ['h', 'i', 'j'],
 'A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 ['h', 'i', 'j']]

In [69]:
mylist3 + mylist3

['A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 ['h', 'i', 'j'],
 'A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 ['h', 'i', 'j']]

In [71]:
type(mylist3[3])

list

In [67]:
### adding 2 lists will result in a concatenation
mylist3[0] + mylist3[3]

### 2 nested lists have been concatenated

TypeError: must be str, not list

In [ ]:
mylist3[0] + mylist3[3][0]

In [ ]:
### this will give error

mylist3[2] + mylist3[3]

In [ ]:
### list operation
print(mylist3)

### add 200 from index 2 and 9 from the list in index 3 

print(mylist3[2] + mylist3[3][0])

In [ ]:
mylist_z = mylist3[3][0]
print(mylist_z)

In [ ]:
print(mylist3[2] + mylist_z)

### Multiplication operations in list
 -  lists can be muliplied with integers
 -  this will result in duplication of list items based on the integer multiplied
 -  lists cannot be directly multiplied with another list
 -  lists cannot be multiplied with floats

In [ ]:
mylist41 = [1,2,100]
mylist42 = mylist41 * 2
print(mylist42)
print(type(mylist42))

### note that the list mylist41 is repeated 2 times

### Additions/Subtractions in List
-- can only be done at an element level. not at the whole list level
-- adding two full lists will result in list concatenation

In [84]:
mylist30 = ['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3],[100,200],['h', 'i', 'j'],999]

In [78]:
print(mylist30[2] + mylist30[8])  

### both the list elements are integers and hence addition was possible

1199

#### LIST DELETION

In [79]:
mylist30

['A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 [100, 200],
 ['h', 'i', 'j'],
 999]

In [80]:
### deleting one item from a list- let us say we want ot delete the item "A String" from the list mylist30
del mylist30[0]

In [81]:
mylist30
### element : in index 0 got deleted

[100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], [100, 200], ['h', 'i', 'j'], 999]

In [ ]:
### deleting multiple items from list using del key word and slice notation
### say we want to delete 100.9 thru [9.10]
del mylist30[0:3]

In [86]:
mylist30

['A String',
 100.9,
 200,
 [9, 10],
 ['a', 'b'],
 [1, 2, 3],
 [100, 200],
 ['h', 'i', 'j'],
 999]

In [88]:
mylist30[2] = 20000

In [90]:
print(mylist30)

['A String', 100.9, 20000, [9, 10], ['a', 'b'], [1, 2, 3], [100, 200], ['h', 'i', 'j'], 999]

In [92]:
mylist30 = [1,2]

In [82]:
### delete entire list
del mylist30

In [83]:
mylist30

NameError: name 'mylist30' is not defined

### List Transformations
 - Transforming a list to string

In [95]:
mystring = 'first python class'

print(mystring)

print(type(mystring))
print(len(mystring))

first python class
<class 'str'>
18

In [108]:
### convert mystring to a list using "list" built in function
mylistnew = list(mystring)
print(mylistnew)

### type of mylistnew
print(type(mylistnew))

## length of mylistnew
print(len(mylistnew))

['f', 'i', 'r', 's', 't', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'l', 'a', 's', 's']
<class 'list'>
18

In [109]:
mylistnew

['f',
 'i',
 'r',
 's',
 't',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'c',
 'l',
 'a',
 's',
 's']

In [102]:
list(mystring)

['f',
 'i',
 'r',
 's',
 't',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'c',
 'l',
 'a',
 's',
 's']

In [105]:
xstring = str(mylistnew)

In [107]:
 print(type(xstring))

<class 'str'>

In [ ]:
###CONVERTING A STRING TO LIST
mystring30 = "first python class"
print(mystring30)
print(type(mystring30))

### converting string to list
mystring30.split()

In [ ]:
###
print(type(mystring30))

In [ ]:
###alternate way of converting a string to list forcibly
print(list(mystring30))

In [ ]:
### Note that both list function and .split method will apply only for that specific execution
### the actual value and type of mystring30 will be intact post the operation

In [ ]:

print(type(mystring30))
print(mystring30)

In [ ]:
mylist9 = [1,2,3]
mylist10 = [1,'a','b']
mylist11 = mylist9 + mylist10
print(mylist11)

In [ ]:
print(mylist3)

###### MUTABILITY OF LISTS
###### LISTS ARE MUTABLE

In [ ]:
mylist3

In [ ]:
mylist3[2]

In [ ]:
## update value in index 2 (200) to "40000"
mylist3[2] = 400000
print(mylist3)

### LISTS ARE MUTABLE

In [ ]:
mylistop = ['a','b','c',100]

In [ ]:
### list operation through multiplication
print(mylistop * 4)

### built in methods in list

In [110]:
#### List methods 
mylist12 = [10,200,203,200,303,'ex1',[5,'a'],600,9]
print(mylist12)

[10, 200, 203, 200, 303, 'ex1', [5, 'a'], 600, 9]

##### append method
 - appends an item to the end of the list

In [111]:
### to know all the built-in methods in a list use tab key after the list name
## mylist12."hit tab key"

In [112]:
mylist12

[10, 200, 203, 200, 303, 'ex1', [5, 'a'], 600, 9]

In [119]:
### append an item 100 to the list
mylist12.append(100)
print(mylist12)

[10, 200, 200, 303, 'ex1', [5, 'a'], 600, 9, 100, 103, 100]

In [117]:
mylist12[-1] = 103

In [120]:
mylist12

[10, 200, 200, 303, 'ex1', [5, 'a'], 600, 9, 100, 103, 100]

In [121]:
mylist12.pop(-2)

103

##### .pop method
- permanently removes an element from the list
- expects an index of the element to be passed within the .pop method
- if no index is given, it removes the element in the last index by default

In [122]:
print(mylist12)

[10, 200, 200, 303, 'ex1', [5, 'a'], 600, 9, 100, 100]

In [114]:
###pop the specific element and prints the removed item
### by default .pop removes the last item in the list and displays it
print(mylist12.pop(2))

203

In [ ]:
### check if the popped item is permanently removed from list
mylist12

In [125]:
### to pop specific item 600 from the list , we need to specify the index of the element that we want to pop
print(mylist12)

[10, 200, '6667', 200, 303, 'ex1', [5, 'a'], 9, 100, 100]

## Insert method

In [124]:
mylist12.pop(-4)

600

In [126]:
### insert into a list
mylist12.insert(2,'600')
print(mylist12)

[10, 200, '600', '6667', 200, 303, 'ex1', [5, 'a'], 9, 100, 100]

######  remove method
- permanently removes an item from the list
- unlike pop method, the exact item value has to be passed as argument/parameter

In [ ]:
print(mylist12)

In [ ]:
### to remove 303
mylist12.remove(200)

In [ ]:
### check list after remove to verify 303 is removed
mylist12

In [ ]:
### giving any value outside the list will give error
mylist12.remove(1)

In [ ]:
## LISTS and Files

In [24]:
import csv
with open('Uber Drives 2016.csv')as f:
  mydata = csv.reader(f,delimiter=',')
  for row in mydata:
      #  print(row)
        print(row[0],row[1],row[2])

START_DATE* END_DATE* CATEGORY*
1/1/2016 21:11 1/1/2016 21:17 Business
1/2/2016 1:25 1/2/2016 1:37 Business
1/2/2016 20:25 1/2/2016 20:38 Business
1/5/2016 17:31 1/5/2016 17:45 Business
1/6/2016 14:42 1/6/2016 15:49 Business
1/6/2016 17:15 1/6/2016 17:19 Business
1/6/2016 17:30 1/6/2016 17:35 Business
1/7/2016 13:27 1/7/2016 13:33 Business
1/10/2016 8:05 1/10/2016 8:25 Business
1/10/2016 12:17 1/10/2016 12:44 Business
1/10/2016 15:08 1/10/2016 15:51 Business
1/10/2016 18:18 1/10/2016 18:53 Business
1/10/2016 19:12 1/10/2016 19:32 Business
1/11/2016 8:55 1/11/2016 9:21 Business
1/11/2016 11:56 1/11/2016 12:03 Business
1/11/2016 13:32 1/11/2016 13:46 Business
1/11/2016 14:30 1/11/2016 14:43 Business
1/12/2016 12:33 1/12/2016 12:49 Business
1/12/2016 12:53 1/12/2016 13:09 Business
1/12/2016 14:42 1/12/2016 14:56 Business
1/12/2016 15:13 1/12/2016 15:28 Business
1/12/2016 15:42 1/12/2016 15:54 Business
1/12/2016 16:02 1/12/2016 17:00 Business
1/13/2016 13:54 1/13/2016 14:07 Business
1/13/2016 15:00 1/13/2016 15:28 Business
1/14/2016 16:29 1/14/2016 17:05 Business
1/14/2016 21:39 1/14/2016 21:45 Business
1/15/2016 0:41 1/15/2016 1:01 Business
1/15/2016 11:43 1/15/2016 12:03 Business
1/15/2016 13:26 1/15/2016 13:44 Business
1/18/2016 14:55 1/18/2016 15:06 Business
1/18/2016 16:13 1/18/2016 16:24 Business
1/19/2016 9:09 1/19/2016 9:23 Business
1/19/2016 10:55 1/19/2016 11:09 Business
1/20/2016 10:36 1/20/2016 11:11 Business
1/20/2016 11:48 1/20/2016 12:19 Business
1/20/2016 13:25 1/20/2016 14:19 Business
1/21/2016 14:25 1/21/2016 14:29 Business
1/21/2016 14:43 1/21/2016 14:51 Business
1/21/2016 16:01 1/21/2016 16:06 Business
1/26/2016 10:41 1/26/2016 10:50 Business
1/26/2016 12:33 1/26/2016 12:41 Business
1/26/2016 16:24 1/26/2016 16:32 Business
1/26/2016 17:17 1/26/2016 17:22 Business
1/26/2016 17:27 1/26/2016 17:29 Business
1/27/2016 9:24 1/27/2016 9:31 Business
1/27/2016 10:19 1/27/2016 10:48 Business
1/27/2016 12:34 1/27/2016 12:44 Business
1/27/2016 14:05 1/27/2016 14:13 Business
1/27/2016 14:46 1/27/2016 15:08 Business
1/28/2016 12:28 1/28/2016 13:00 Business
1/28/2016 15:11 1/28/2016 15:31 Business
1/28/2016 16:21 1/28/2016 16:51 Business
1/29/2016 9:31 1/29/2016 9:45 Business
1/29/2016 10:56 1/29/2016 11:07 Business
1/29/2016 11:43 1/29/2016 12:03 Business
1/29/2016 13:24 1/29/2016 13:47 Business
1/29/2016 18:31 1/29/2016 18:52 Business
1/29/2016 21:21 1/29/2016 21:40 Business
1/30/2016 16:21 1/30/2016 16:33 Business
1/30/2016 18:09 1/30/2016 18:24 Business
2/1/2016 10:35 2/1/2016 11:15 Business
2/1/2016 12:10 2/1/2016 12:43 Business
2/1/2016 12:56 2/1/2016 13:07 Business
2/2/2016 13:04 2/2/2016 13:23 Business
2/2/2016 13:51 2/2/2016 14:06 Business
2/2/2016 14:38 2/2/2016 14:42 Business
2/4/2016 8:40 2/4/2016 9:01 Business
2/4/2016 9:37 2/4/2016 10:09 Business
2/4/2016 10:26 2/4/2016 10:32 Business
2/4/2016 15:59 2/4/2016 16:03 Business
2/4/2016 16:35 2/4/2016 16:39 Business
2/4/2016 18:04 2/4/2016 18:31 Business
2/4/2016 20:36 2/4/2016 20:55 Business
2/5/2016 11:47 2/5/2016 12:07 Business
2/5/2016 13:22 2/5/2016 13:41 Business
2/6/2016 16:20 2/6/2016 16:53 Business
2/6/2016 18:57 2/6/2016 19:21 Business
2/6/2016 19:28 2/6/2016 19:37 Business
2/7/2016 16:49 2/7/2016 17:01 Business
2/7/2016 18:03 2/7/2016 18:17 Business
2/7/2016 18:39 2/7/2016 18:53 Business
2/7/2016 20:22 2/7/2016 20:40 Business
2/8/2016 12:57 2/8/2016 13:08 Business
2/8/2016 14:00 2/8/2016 14:10 Business
2/9/2016 10:54 2/9/2016 11:07 Personal
2/9/2016 11:43 2/9/2016 11:50 Personal
2/9/2016 13:36 2/9/2016 13:52 Personal
2/9/2016 13:58 2/9/2016 14:02 Personal
2/9/2016 18:55 2/9/2016 19:11 Business
2/9/2016 20:24 2/9/2016 20:40 Business
2/11/2016 16:28 2/11/2016 17:10 Business
2/11/2016 17:49 2/11/2016 18:10 Business
2/11/2016 18:24 2/11/2016 18:46 Business
2/11/2016 20:36 2/11/2016 20:51 Business
2/12/2016 8:21 2/12/2016 8:42 Business
2/12/2016 10:45 2/12/2016 10:52 Business
2/12/2016 11:14 2/12/2016 11:35 Business
2/12/2016 13:02 2/12/2016 13:36 Business
2/12/2016 14:49 2/12/2016 15:06 Business
2/12/2016 15:33 2/12/2016 16:06 Business
2/13/2016 14:21 2/13/2016 14:41 Business
2/13/2016 23:45 2/14/2016 0:01 Personal
2/14/2016 0:50 2/14/2016 1:00 Personal
2/14/2016 14:07 2/14/2016 14:40 Business
2/14/2016 14:46 2/14/2016 15:03 Business
2/14/2016 16:35 2/14/2016 17:02 Business
2/14/2016 17:06 2/14/2016 17:29 Business
2/16/2016 3:21 2/16/2016 4:13 Business
2/16/2016 8:29 2/16/2016 9:34 Business
2/16/2016 10:31 2/16/2016 10:41 Business
2/16/2016 11:32 2/16/2016 12:02 Business
2/16/2016 12:39 2/16/2016 12:42 Business
2/16/2016 13:43 2/16/2016 13:55 Business
2/16/2016 16:34 2/16/2016 17:10 Business
2/16/2016 17:17 2/16/2016 17:26 Business
2/16/2016 17:40 2/16/2016 17:44 Business
2/17/2016 13:18 2/17/2016 14:04 Business
2/17/2016 15:17 2/17/2016 15:22 Business
2/17/2016 15:33 2/17/2016 16:17 Business
2/17/2016 16:38 2/17/2016 16:43 Business
2/18/2016 8:19 2/18/2016 8:27 Business
2/18/2016 14:03 2/18/2016 14:45 Business
2/18/2016 15:16 2/18/2016 15:31 Business
2/18/2016 18:44 2/18/2016 18:58 Business
2/18/2016 19:27 2/18/2016 20:08 Business
2/19/2016 9:02 2/19/2016 9:14 Business
2/19/2016 9:21 2/19/2016 9:51 Business
2/19/2016 10:21 2/19/2016 10:48 Business
2/19/2016 11:20 2/19/2016 11:26 Personal
2/19/2016 11:45 2/19/2016 11:50 Personal
2/19/2016 12:09 2/19/2016 12:27 Business
2/19/2016 16:26 2/19/2016 16:45 Business
2/19/2016 17:09 2/19/2016 17:20 Business
2/19/2016 20:08 2/19/2016 20:30 Personal
2/19/2016 20:34 2/19/2016 20:51 Personal
2/20/2016 7:59 2/20/2016 8:32 Personal
2/20/2016 10:48 2/20/2016 10:56 Personal
2/20/2016 11:45 2/20/2016 11:53 Personal
2/20/2016 12:41 2/20/2016 13:17 Business
2/20/2016 14:50 2/20/2016 15:54 Business
2/20/2016 16:59 2/20/2016 17:54 Personal
2/20/2016 18:00 2/20/2016 18:03 Business
2/20/2016 19:28 2/20/2016 19:49 Business
2/21/2016 9:07 2/21/2016 9:46 Business
2/21/2016 11:39 2/21/2016 11:43 Business
2/21/2016 11:47 2/21/2016 12:01 Business
2/21/2016 12:13 2/21/2016 12:35 Business
2/21/2016 12:51 2/21/2016 13:12 Business
2/21/2016 13:33 2/21/2016 14:30 Business
2/21/2016 14:36 2/21/2016 15:03 Business
2/21/2016 15:14 2/21/2016 15:31 Business
2/21/2016 15:36 2/21/2016 15:41 Business
2/21/2016 16:04 2/21/2016 16:32 Business
2/21/2016 23:15 2/21/2016 23:52 Business
2/22/2016 21:54 2/22/2016 22:09 Business
2/24/2016 14:30 2/24/2016 14:35 Business
2/24/2016 15:19 2/24/2016 15:25 Business
2/25/2016 16:27 2/25/2016 16:35 Business
2/25/2016 16:47 2/25/2016 17:02 Business
2/25/2016 17:16 2/25/2016 17:36 Business
2/25/2016 18:22 2/25/2016 18:39 Business
2/26/2016 9:06 2/26/2016 9:29 Business
2/26/2016 11:05 2/26/2016 11:11 Personal
2/26/2016 11:35 2/26/2016 11:59 Business
2/26/2016 13:01 2/26/2016 13:24 Business
2/26/2016 14:38 2/26/2016 14:46 Personal
2/26/2016 15:00 2/26/2016 15:18 Personal
2/26/2016 17:01 2/26/2016 17:12 Personal
2/28/2016 5:22 2/28/2016 5:38 Business
2/28/2016 9:26 2/28/2016 9:42 Business
2/29/2016 11:07 2/29/2016 11:14 Personal
2/29/2016 11:30 2/29/2016 11:40 Business
2/29/2016 12:36 2/29/2016 12:48 Business
2/29/2016 14:55 2/29/2016 15:03 Business
2/29/2016 16:40 2/29/2016 17:00 Business
3/1/2016 18:47 3/1/2016 19:10 Business
3/1/2016 21:27 3/1/2016 21:45 Business
3/3/2016 9:45 3/3/2016 9:52 Personal
3/3/2016 11:04 3/3/2016 11:10 Business
3/3/2016 14:44 3/3/2016 14:58 Business
3/3/2016 15:27 3/3/2016 15:48 Business
3/3/2016 16:02 3/3/2016 16:42 Business
3/4/2016 7:47 3/4/2016 8:06 Business
3/4/2016 9:46 3/4/2016 10:03 Business
3/4/2016 11:46 3/4/2016 12:06 Business
3/4/2016 13:03 3/4/2016 13:25 Business
3/4/2016 13:40 3/4/2016 14:09 Business
3/4/2016 15:56 3/4/2016 16:08 Business
3/4/2016 16:16 3/4/2016 16:22 Business
3/4/2016 16:43 3/4/2016 17:12 Business
3/4/2016 19:02 3/4/2016 19:08 Business
3/4/2016 19:16 3/4/2016 19:25 Business
3/5/2016 11:44 3/5/2016 11:59 Business
3/5/2016 12:57 3/5/2016 13:12 Personal
3/5/2016 14:08 3/5/2016 14:18 Personal
3/5/2016 14:39 3/5/2016 15:01 Business
3/5/2016 16:52 3/5/2016 17:13 Business
3/5/2016 17:23 3/5/2016 17:34 Business
3/7/2016 9:10 3/7/2016 9:20 Business
3/7/2016 9:23 3/7/2016 9:47 Business
3/7/2016 12:10 3/7/2016 12:26 Business
3/7/2016 13:57 3/7/2016 14:18 Business
3/7/2016 15:19 3/7/2016 15:45 Business
3/8/2016 14:38 3/8/2016 14:55 Business
3/8/2016 15:35 3/8/2016 16:00 Business
3/8/2016 16:13 3/8/2016 16:25 Personal
3/10/2016 3:36 3/10/2016 3:53 Business
3/10/2016 10:08 3/10/2016 10:37 Business
3/10/2016 14:39 3/10/2016 14:55 Business
3/10/2016 16:18 3/10/2016 16:28 Business
3/11/2016 9:47 3/11/2016 9:59 Business
3/11/2016 10:29 3/11/2016 10:36 Business
3/11/2016 11:57 3/11/2016 12:04 Business
3/11/2016 13:43 3/11/2016 13:51 Business
3/11/2016 19:21 3/11/2016 19:35 Business
3/12/2016 9:13 3/12/2016 9:22 Business
3/12/2016 18:27 3/12/2016 18:37 Personal
3/13/2016 9:07 3/13/2016 9:37 Business
3/13/2016 18:23 3/13/2016 18:43 Business
3/13/2016 20:07 3/13/2016 20:28 Business
3/13/2016 20:39 3/13/2016 20:58 Business
3/13/2016 21:11 3/13/2016 21:23 Business
3/13/2016 22:19 3/13/2016 22:39 Business
3/14/2016 8:34 3/14/2016 8:49 Business
3/14/2016 18:39 3/14/2016 18:55 Business
3/15/2016 8:45 3/15/2016 8:57 Business
3/15/2016 20:48 3/15/2016 21:01 Business
3/16/2016 11:34 3/16/2016 11:45 Business
3/16/2016 14:44 3/16/2016 14:55 Business
3/16/2016 18:43 3/16/2016 18:56 Business
3/17/2016 0:33 3/17/2016 0:44 Personal
3/17/2016 12:52 3/17/2016 15:11 Business
3/17/2016 15:16 3/17/2016 15:58 Business
3/17/2016 17:20 3/17/2016 18:02 Business
3/17/2016 18:47 3/17/2016 19:09 Personal
3/17/2016 20:57 3/17/2016 21:28 Personal
3/17/2016 21:48 3/17/2016 22:04 Personal
3/18/2016 7:15 3/18/2016 7:21 Business
3/18/2016 8:35 3/18/2016 8:43 Business
3/18/2016 18:24 3/18/2016 19:08 Business
3/18/2016 19:23 3/18/2016 19:29 Business
3/18/2016 21:01 3/18/2016 21:15 Business
3/19/2016 9:10 3/19/2016 9:25 Business
3/19/2016 12:50 3/19/2016 13:13 Business
3/19/2016 14:01 3/19/2016 14:57 Business
3/19/2016 15:34 3/19/2016 16:38 Business
3/19/2016 17:17 3/19/2016 17:32 Business
3/19/2016 17:37 3/19/2016 17:47 Business
3/19/2016 17:52 3/19/2016 18:00 Business
3/19/2016 18:53 3/19/2016 19:29 Business
3/19/2016 19:33 3/19/2016 20:39 Business
3/20/2016 7:37 3/20/2016 7:48 Business
3/20/2016 11:42 3/20/2016 11:56 Business
3/20/2016 17:08 3/20/2016 17:34 Business
3/20/2016 18:34 3/20/2016 18:40 Personal
3/20/2016 18:45 3/20/2016 19:06 Business
3/21/2016 10:21 3/21/2016 10:26 Personal
3/21/2016 16:05 3/21/2016 16:13 Business
3/21/2016 18:59 3/21/2016 19:15 Business
3/21/2016 20:18 3/21/2016 20:55 Business
3/22/2016 6:17 3/22/2016 6:43 Business
3/22/2016 12:06 3/22/2016 12:24 Personal
3/22/2016 19:12 3/22/2016 19:25 Personal
3/23/2016 14:37 3/23/2016 14:42 Personal
3/23/2016 14:53 3/23/2016 14:59 Personal
3/24/2016 19:47 3/24/2016 19:54 Personal
3/24/2016 20:34 3/24/2016 20:40 Business
3/25/2016 13:24 3/25/2016 16:22 Business
3/25/2016 16:52 3/25/2016 22:22 Business
3/25/2016 22:54 3/26/2016 1:39 Business
3/26/2016 14:05 3/26/2016 14:29 Personal
3/26/2016 15:19 3/26/2016 15:49 Personal
3/26/2016 16:26 3/26/2016 16:30 Personal
3/27/2016 0:31 3/27/2016 0:40 Business
3/27/2016 1:11 3/27/2016 1:23 Business
3/27/2016 15:31 3/27/2016 15:56 Business
3/27/2016 21:26 3/27/2016 21:41 Personal
3/27/2016 23:04 3/27/2016 23:18 Personal
3/28/2016 12:29 3/28/2016 12:42 Personal
3/28/2016 19:30 3/28/2016 20:23 Personal
3/28/2016 22:55 3/28/2016 23:26 Personal
3/29/2016 15:27 3/29/2016 16:11 Personal
3/29/2016 18:20 3/29/2016 18:39 Personal
3/29/2016 20:29 3/29/2016 20:44 Personal
3/29/2016 23:04 3/29/2016 23:21 Personal
3/30/2016 22:05 3/30/2016 22:55 Business
3/31/2016 12:47 3/31/2016 13:22 Business
3/31/2016 14:37 3/31/2016 15:09 Business
4/1/2016 13:43 4/1/2016 14:01 Business
4/1/2016 14:36 4/1/2016 15:24 Business
4/1/2016 16:01 4/1/2016 16:49 Business
4/1/2016 16:52 4/1/2016 16:57 Personal
4/2/2016 8:48 4/2/2016 9:04 Personal
4/2/2016 11:01 4/2/2016 11:16 Personal
4/2/2016 12:21 4/2/2016 14:47 Business
4/2/2016 16:57 4/2/2016 18:09 Business
4/2/2016 19:38 4/2/2016 22:36 Business
4/2/2016 23:11 4/3/2016 1:34 Business
4/3/2016 2:00 4/3/2016 4:16 Business
4/5/2016 21:39 4/5/2016 21:55 Business
4/6/2016 0:19 4/6/2016 0:39 Business
4/7/2016 18:20 4/7/2016 18:39 Business
4/7/2016 19:45 4/7/2016 20:00 Business
4/8/2016 12:30 4/8/2016 12:48 Business
4/8/2016 13:34 4/8/2016 13:51 Business
4/8/2016 13:55 4/8/2016 14:03 Business
4/8/2016 14:43 4/8/2016 15:20 Business
4/8/2016 16:05 4/8/2016 16:47 Business
4/12/2016 9:15 4/12/2016 9:26 Business
4/12/2016 9:34 4/12/2016 9:53 Business
4/12/2016 10:58 4/12/2016 11:18 Business
4/12/2016 12:22 4/12/2016 12:44 Business
4/12/2016 13:42 4/12/2016 14:01 Business
4/14/2016 7:29 4/14/2016 8:09 Business
4/14/2016 16:00 4/14/2016 16:43 Business
4/15/2016 11:36 4/15/2016 12:07 Business
4/15/2016 12:29 4/15/2016 12:32 Business
4/15/2016 14:31 4/15/2016 15:01 Business
4/16/2016 12:59 4/16/2016 13:17 Business
4/16/2016 15:10 4/16/2016 15:26 Business
4/19/2016 17:44 4/19/2016 18:08 Business
4/19/2016 19:57 4/19/2016 20:19 Business
4/22/2016 8:25 4/22/2016 9:04 Business
4/22/2016 10:10 4/22/2016 10:40 Business
4/22/2016 12:08 4/22/2016 12:28 Business
4/22/2016 13:02 4/22/2016 13:26 Business
4/23/2016 17:03 4/23/2016 17:16 Business
4/23/2016 18:49 4/23/2016 19:05 Business
4/24/2016 19:07 4/24/2016 19:16 Business
4/24/2016 19:46 4/24/2016 19:52 Business
4/24/2016 21:41 4/24/2016 21:50 Business
4/27/2016 13:30 4/27/2016 13:40 Business
4/27/2016 14:13 4/27/2016 14:25 Business
4/28/2016 12:09 4/28/2016 12:34 Business
4/28/2016 13:30 4/28/2016 13:49 Business
4/28/2016 22:10 4/28/2016 22:28 Business
4/29/2016 11:44 4/29/2016 12:01 Business
4/29/2016 13:13 4/29/2016 13:34 Business
4/29/2016 18:46 4/29/2016 19:18 Business
4/29/2016 22:44 4/29/2016 23:19 Business
4/30/2016 18:42 4/30/2016 18:57 Business
4/30/2016 22:16 4/30/2016 22:34 Business
5/1/2016 13:45 5/1/2016 13:53 Business
5/1/2016 14:26 5/1/2016 14:31 Business
5/1/2016 17:33 5/1/2016 17:45 Business
5/1/2016 17:54 5/1/2016 18:10 Business
5/1/2016 22:38 5/1/2016 22:49 Business
5/2/2016 14:14 5/2/2016 14:21 Business
5/2/2016 15:37 5/2/2016 15:48 Business
5/3/2016 22:20 5/3/2016 22:28 Business
5/4/2016 15:16 5/4/2016 15:37 Business
5/4/2016 20:55 5/4/2016 21:14 Business
5/4/2016 21:30 5/4/2016 21:36 Business
5/4/2016 22:19 5/4/2016 22:27 Business
5/5/2016 21:24 5/5/2016 21:36 Business
5/5/2016 22:34 5/5/2016 22:40 Business
5/5/2016 23:55 5/6/2016 0:08 Business
5/6/2016 5:47 5/6/2016 6:02 Business
5/6/2016 16:45 5/6/2016 16:59 Business
5/6/2016 17:18 5/6/2016 17:44 Business
5/9/2016 6:08 5/9/2016 6:25 Business
5/9/2016 14:39 5/9/2016 15:06 Business
5/9/2016 17:58 5/9/2016 18:26 Business
5/9/2016 19:35 5/9/2016 19:59 Business
5/10/2016 9:03 5/10/2016 9:20 Business
5/10/2016 17:19 5/10/2016 17:31 Business
5/11/2016 8:35 5/11/2016 9:12 Business
5/11/2016 21:47 5/11/2016 22:04 Business
5/14/2016 18:35 5/14/2016 18:39 Business
5/14/2016 23:01 5/14/2016 23:05 Business
5/17/2016 13:15 5/17/2016 13:23 Business
5/17/2016 13:56 5/17/2016 14:08 Business
5/17/2016 14:34 5/17/2016 14:40 Business
5/18/2016 9:11 5/18/2016 9:41 Business
5/18/2016 13:00 5/18/2016 13:02 Business
5/19/2016 14:37 5/19/2016 15:01 Business
5/20/2016 10:56 5/20/2016 11:07 Business
5/20/2016 15:43 5/20/2016 16:12 Business
5/22/2016 15:39 5/22/2016 15:46 Business
5/22/2016 18:46 5/22/2016 18:53 Business
5/23/2016 20:19 5/23/2016 20:27 Business
5/23/2016 21:09 5/23/2016 21:21 Business
5/27/2016 20:26 5/27/2016 20:30 Business
5/27/2016 20:47 5/27/2016 20:53 Business
5/27/2016 22:11 5/27/2016 22:14 Business
5/28/2016 0:15 5/28/2016 0:21 Business
5/28/2016 12:52 5/28/2016 13:06 Business
5/28/2016 14:35 5/28/2016 15:04 Business
5/31/2016 13:54 5/31/2016 14:41 Business
5/31/2016 16:02 5/31/2016 16:39 Business
5/31/2016 17:50 5/31/2016 17:59 Business
6/1/2016 10:19 6/1/2016 10:47 Business
6/1/2016 13:10 6/1/2016 13:39 Business
6/3/2016 11:29 6/3/2016 11:49 Business
6/3/2016 13:08 6/3/2016 13:38 Business
6/3/2016 15:31 6/3/2016 15:54 Business
6/3/2016 18:14 6/3/2016 18:29 Business
6/3/2016 18:41 6/3/2016 18:53 Business
6/3/2016 19:36 6/3/2016 19:42 Business
6/3/2016 22:47 6/3/2016 23:06 Business
6/5/2016 14:03 6/5/2016 14:33 Business
6/5/2016 15:06 6/5/2016 15:22 Business
6/5/2016 15:57 6/5/2016 16:08 Business
6/5/2016 18:05 6/5/2016 18:14 Business
6/5/2016 21:53 6/5/2016 22:05 Business
6/5/2016 23:52 6/6/2016 0:08 Business
6/6/2016 15:36 6/6/2016 15:45 Business
6/6/2016 16:16 6/6/2016 16:24 Business
6/6/2016 20:06 6/6/2016 20:20 Business
6/6/2016 21:08 6/6/2016 21:37 Business
6/6/2016 21:41 6/6/2016 22:00 Business
6/6/2016 23:34 6/6/2016 23:48 Business
6/7/2016 21:42 6/7/2016 22:00 Business
6/7/2016 23:41 6/8/2016 0:04 Business
6/8/2016 8:23 6/8/2016 8:53 Business
6/8/2016 12:04 6/8/2016 13:01 Business
6/8/2016 13:12 6/8/2016 13:29 Business
6/8/2016 14:31 6/8/2016 14:37 Business
6/8/2016 16:55 6/8/2016 17:11 Business
6/8/2016 17:16 6/8/2016 17:18 Business
6/8/2016 17:59 6/8/2016 18:05 Business
6/8/2016 20:11 6/8/2016 20:25 Business
6/10/2016 15:19 6/10/2016 16:28 Business
6/10/2016 21:47 6/10/2016 22:04 Business
6/10/2016 23:53 6/11/2016 0:01 Business
6/11/2016 17:08 6/11/2016 17:16 Business
6/11/2016 17:34 6/11/2016 17:39 Business
6/11/2016 17:50 6/11/2016 17:56 Business
6/11/2016 21:45 6/11/2016 22:04 Business
6/11/2016 23:39 6/12/2016 0:05 Business
6/12/2016 19:53 6/12/2016 19:56 Business
6/12/2016 20:05 6/12/2016 20:16 Business
6/12/2016 21:58 6/12/2016 22:19 Business
6/13/2016 5:23 6/13/2016 5:42 Business
6/13/2016 14:17 6/13/2016 14:46 Business
6/13/2016 18:08 6/13/2016 18:47 Business
6/13/2016 18:54 6/13/2016 19:23 Business
6/13/2016 20:00 6/13/2016 20:05 Business
6/14/2016 12:03 6/14/2016 12:21 Business
6/14/2016 16:09 6/14/2016 16:39 Business
6/14/2016 17:15 6/14/2016 17:24 Business
6/14/2016 17:27 6/14/2016 17:57 Business
6/15/2016 1:46 6/15/2016 2:06 Business
6/15/2016 15:26 6/15/2016 15:34 Business
6/15/2016 16:37 6/15/2016 17:02 Business
6/15/2016 17:29 6/15/2016 17:49 Personal
6/15/2016 19:52 6/15/2016 19:58 Business
6/16/2016 13:36 6/16/2016 14:30 Business
6/16/2016 14:42 6/16/2016 14:46 Business
6/16/2016 15:17 6/16/2016 15:41 Business
6/16/2016 19:39 6/16/2016 19:56 Business
6/16/2016 21:43 6/16/2016 21:56 Business
6/17/2016 16:11 6/17/2016 16:44 Business
6/18/2016 0:29 6/18/2016 0:51 Business
6/19/2016 2:39 6/19/2016 2:50 Business
6/19/2016 5:51 6/19/2016 6:00 Business
6/21/2016 15:39 6/21/2016 16:08 Business
6/21/2016 17:11 6/21/2016 18:02 Business
6/24/2016 10:41 6/24/2016 10:57 Business
6/24/2016 11:54 6/24/2016 12:01 Business
6/24/2016 12:19 6/24/2016 12:37 Business
6/24/2016 12:50 6/24/2016 13:12 Business
6/24/2016 13:18 6/24/2016 13:27 Business
6/24/2016 14:01 6/24/2016 14:20 Business
6/24/2016 20:44 6/24/2016 21:02 Business
6/25/2016 9:03 6/25/2016 9:12 Business
6/25/2016 9:15 6/25/2016 10:08 Business
6/25/2016 10:18 6/25/2016 10:25 Business
6/25/2016 10:50 6/25/2016 11:18 Business
6/25/2016 11:25 6/25/2016 11:34 Business
6/25/2016 11:53 6/25/2016 13:21 Business
6/25/2016 19:47 6/25/2016 19:58 Business
6/25/2016 23:19 6/25/2016 23:26 Business
6/26/2016 17:43 6/26/2016 18:18 Business
6/26/2016 18:45 6/26/2016 19:12 Business
6/26/2016 19:41 6/26/2016 19:50 Business
6/26/2016 21:14 6/26/2016 21:42 Business
6/27/2016 7:37 6/27/2016 8:48 Business
6/27/2016 8:51 6/27/2016 9:00 Business
6/27/2016 9:05 6/27/2016 9:33 Business
6/27/2016 9:43 6/27/2016 10:08 Business
6/27/2016 10:22 6/27/2016 10:39 Business
6/27/2016 10:51 6/27/2016 10:58 Business
6/27/2016 11:06 6/27/2016 11:24 Business
6/27/2016 11:30 6/27/2016 11:42 Business
6/27/2016 12:22 6/27/2016 13:02 Business
6/27/2016 13:56 6/27/2016 14:05 Business
6/27/2016 21:09 6/27/2016 21:19 Business
6/28/2016 0:48 6/28/2016 1:05 Business
6/28/2016 20:13 6/28/2016 20:33 Business
6/28/2016 23:34 6/28/2016 23:59 Business
6/28/2016 23:34 6/28/2016 23:59 Business
6/29/2016 8:56 6/29/2016 9:24 Business
6/29/2016 10:22 6/29/2016 10:38 Business
6/29/2016 11:49 6/29/2016 11:51 Business
6/29/2016 12:11 6/29/2016 12:16 Business

In [128]:
import pandas as pd
mydf = pd.read_csv('Uber Drives 2016.csv')

In [130]:
type(mydf)

pandas.core.frame.DataFrame

In [131]:
mydf.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [137]:
mydflist = list(mydf.loc[0])

In [138]:
type(mydflist)

list

In [139]:
mydflist

['1/1/2016 21:11',
 '1/1/2016 21:17',
 'Business',
 'Fort Pierce',
 'Fort Pierce',
 5.1,
 'Meal/Entertain']

In [54]:
mydflist

['1/1/2016 21:11',
 '1/1/2016 21:17',
 'Business',
 'Fort Pierce',
 'Fort Pierce',
 5.1,
 'Meal/Entertain']

In [52]:
 type(mydflist)

list

## LISTS IN PYTHON -- END

---

## TUPLES  IN PYTHON --- STARTS

- python object
- similar to lists - i.e - it can hold any data type
- tuples are immutable like strings
- tuples are represented by ()

In [140]:
### create a tuple using mixed data types
mytup2 = ('a', 'A','STRNG',1299, 1200.99)
print(mytup2)

('a', 'A', 'STRNG', 1299, 1200.99)

## nested tuples and other data types in a tuple

In [141]:
### create tuple within a tuple
mytup3=((1,2,3),199,'a',200.88,'string',('a','b'))
print(mytup3)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'))

In [160]:
### create list  within a tuple
mytup4=((1,2,3),199,'a',200.88,'string',('a','b'),[199,299],["IAM A LIST",'Y'])
print(mytup4)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [155]:
mytup4 = (100,'python')

In [ ]:
mytup4 =  100

In [153]:
mytup4=((1,2,3),199,'a',200.88,'string',('a','b'),[199,299],["IAM A LIST",'Y'])

In [156]:
mytup4[5][0] = 1929

IndexError: tuple index out of range

In [162]:
 mytup4[6] = 9999

TypeError: 'tuple' object does not support item assignment

In [151]:
mytup4

((1, 2, 3),
 199,
 'a',
 200.88,
 'string',
 ('a', 'b'),
 [9999, 299],
 ['IAM A LIST', 'Y'])

### immutability check for tuples

In [144]:
mytup4[1] = 10000

TypeError: 'tuple' object does not support item assignment

 ### Accessing Elements within a Tuple using indexes
  - indexing in tuple is similar to indexing in lists
  - indexing can be done to retrieve individual element
  - indexing can be done for selection of multiple individual elements from a tuple
  - indexing is used for extracting a sequence of individual elements using slice notation

In [158]:
mytup4

(100, 'python')

In [159]:
### grab the element in index 6
mytup4[6]

IndexError: tuple index out of range

In [98]:
print(mytup4)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [157]:
## grab the first and last element in a tuple
### first item in tuple
print(mytup4[0])

### last item in tuple
print(mytup4[-1])
print(mytup4[7])

100
python

IndexError: tuple index out of range

### indexing in tuples with tuples or lists

In [94]:
### grab a specific element 199 from the list [199,299]   within tuple 
print(mytup4[6][0])

NameError: name 'mytup4' is not defined

In [ ]:
### grab a specific element in a tuple within a tuple
print(mytup4[5][0])

In [ ]:
print(mytup4)

###### SLICE NOTATIONS

In [122]:
### get all the elements from index 2 
print(mytup4[2:])

('a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [101]:
### get all the elements from indeex 0 till index 5
print(mytup4)
print(mytup4[0:6])

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])
((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'))

In [102]:
###
print(mytup4)
print(mytup4[6][1])

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])
299

In [103]:
### grab 1st index to 4 index
print(mytup4[1:5])

(199, 'a', 200.88, 'string')

In [104]:
print(mytup4[1:5][2])

200.88

In [107]:
print(mytup4)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [109]:
del mytup4[0]

TypeError: 'tuple' object doesn't support item deletion

In [112]:
print(mytup4)

NameError: name 'mytup4' is not defined

In [111]:
### deleting entire tuple is possible -
del mytup4

### Built-in methods in tuple
###### count and index are the only 2 methods

In [164]:
### count method counts the number of occurrences of a particular item in the tuple
my_tuple7 = ((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'],[199,299])

In [166]:
my_tuple7.count([199,299])

2

In [167]:
my_tuple7

((1, 2, 3),
 199,
 'a',
 200.88,
 'string',
 ('a', 'b'),
 [199, 299],
 ['IAM A LIST', 'Y'],
 [199, 299])

In [168]:
### index returns the very first occurrence of that item 
my_tuple7.index([199,299])

6

In [141]:
list1 = [1,2]
list2 = [3,5]

In [143]:
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [169]:
mytup1 = (1,2)
mytup2 = (2,4)

In [170]:
mytup1 * mytup2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [173]:
mytup1 + mytup2[1]

TypeError: can only concatenate tuple (not "int") to tuple

In [127]:
print(mytup1)

(1, 2, 2, 4)

In [ ]:
type(mytup1)

In [ ]:
list(mytup1)

In [174]:
type(mytup1)

tuple

In [180]:
mylistt = [1,2,3,'a']
print(mylistt)
print(type(mylistt))

[1, 2, 3, 'a']
<class 'list'>

In [182]:
xstring = str(mylistt)

"[1, 2, 3, 'a']"

In [184]:
print(mylistt)
print(type(mylistt))

[1, 2, 3, 'a']
<class 'list'>

In [178]:
mylistt = 'i am a string'
print(mylistt)
print(type(mylistt))

i am a string
<class 'str'>

## TUPLES  IN PYTHON --- END

---

## DICTIONARY  IN PYTHON --- START

 
Python objects that are represented in the form of Key and Value pairs
Dictionary helps to create our own user defined indexes in the form of "Keys"
Every Key will have a value

Dictionary can have strings, numeric, float, lists, tuples, dictionaries as values

Dictionary is mutable on the whole but the Key of a dictionary is always IMMUTABLE

syntax of dictionary is 
        mydict1 = {'keyname':value, 'keyname2':value2, 'keyname3':value3....}

In [145]:
### create first dictionary
mydict0 =  {'k1':100,'k2':'str','k3':199.99,'k4':'0'}
print('\n')
print(mydict0)
print('\n')
print(type(mydict0))
print('\n')
print(len(mydict0))

{'k1': 100, 'k2': 'str', 'k3': 199.99, 'k4': '0'}


<class 'dict'>


4

In [148]:
### dictionaries with lists, tuples, dictionary
mydict2= {'key1' : [1,2,3],  'key2' : (1,2,3), 'key3':{'k1':1990,'k2':'a','k3':[1,2,3]}, 'strkey':'i am a string' }
print(mydict2)
print(type(mydict2))
print(len(mydict2))

{'key1': [1, 2, 3], 'key2': (1, 2, 3), 'key3': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}, 'strkey': 'i am a string'}
<class 'dict'>
4

### indexing in dictionaries
different from strings,list and tuples

In [150]:
### usual way of grabbing elements using indexes will not work for dictionaries

mydict2[0]

KeyError: 0

In [151]:
### call the dictionary using keyvalue
mydict2['key3']

{'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}

In [153]:
### having the same key names with multiple elements will result in one key being retained
mydict2= {'listkey1' : [1,2,3],  'listkey1' : [10,2,3], 'dictkey':{'k1':1990,'k2':'a','k3':[1,2,3]}, 'strkey':'i am a string' }
print(mydict2)

{'listkey1': [10, 2, 3], 'dictkey': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}, 'strkey': 'i am a string'}

#indexing, slicing of dictionaries

In [154]:
print(mydict2)

{'listkey1': [10, 2, 3], 'dictkey': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}, 'strkey': 'i am a string'}

In [155]:
mydict2['dictkey']

{'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}

In [157]:
### to grab the first element of the key "dictkey"
mydict2['dictkey']['k1']

1990

In [158]:
mydict2['listkey1'][0]

10

In [103]:
### to grab multiple elements from nested dictionary
mydict2['dictkey']['k1'],mydict2['dictkey']['k2']

(1990, 'a')

In [160]:
### to grab the element within an element in dictionary

print(mydict2['listkey1'][0])
print(mydict2['listkey1'][-1])
print(mydict2['listkey1'][2])

10
3
3

In [161]:
mydict2

{'listkey1': [10, 2, 3],
 'dictkey': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]},
 'strkey': 'i am a string'}

In [165]:
### mutability in a dictionary
mydict2['listkey1'][0] = 200

In [166]:
mydict2

{'listkey1': [200, 2, 3],
 'dictkey': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]},
 'strkey': 'i am a string'}

In [167]:
mydict10 = {'mykey1':(1,2,3),'mykey2':'mystring','mykey3':[1000,2000,'boa']}
print(mydict10)

{'mykey1': (1, 2, 3), 'mykey2': 'mystring', 'mykey3': [1000, 2000, 'boa']}

In [209]:
mydict10['mykey1'][0]

1

In [169]:
mydict10['mykey1'][0]  = 100

TypeError: 'tuple' object does not support item assignment

In [184]:
mydict10['mykey1'] = ['a','bbb','ccc']
print(mydict10)

{'mykey1': ['a', 'bbb', 'ccc'], 'mykey2': 'mystring', 'mykey3': [1000, 2000, 'boa']}

In [194]:
type('python')

str

In [196]:
x = {'k1':100}

In [200]:
type(x)

dict

In [201]:
str

str

In [199]:
### keys in dictionaries can be numbers
mydict3= {str:1000,x:(1,2,3)}

TypeError: unhashable type: 'dict'

In [366]:
### special chars are not allowed while defining a dictionary key
mydict3= {$$$ : [1,2,3],  2000 : (1,2,3)}

SyntaxError: invalid syntax (<ipython-input-366-fc775eac570a>, line 2)

In [367]:
#### dictionaries cannot have a "MUTABLE" object as a Key. since list [1,2,3] is mutable, it cannot be a key for the dictionary
mydict3 = {[1,2,3]: 1000}

### why? - mutable objects allow item reassignment. which will corrupt the concept of a key

TypeError: unhashable type: 'list'

In [368]:
#### dictionaries  can have Tuples as a key because tuples are immutable.
#### this is why dictionaries can also have strings or numbers as keys. because they are immutable too
mydict3 = {(1,2,3): 1000}
print(mydict3)

{(1, 2, 3): 1000}

In [205]:
### Restrictions with dictionaries
### key duplication
### definition of dictionary with same keys
MLB_team = {'Colorado' : 'Rockies','Boston'   : 'Red Sox','Minnesota': 'Twins','Milwaukee': 'Brewers',
 'Seattle'  : 'Mariners','Minnesota': 'TimbreWolves'}

In [204]:
print(MLB_team)  ### only the last occurrence of the key has been considered

## so caution should exercised when we define dictionaries

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'TimbreWolves', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [335]:
### even a dictionary will not work as a key -- as dictionary is mutable
mydict8 = {{'k1': 1}: 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}   ### this is NOT accepted

TypeError: unhashable type: 'dict'

### Is slice notation possible in a dictionary ??

#### the answer is NO

- REASON IS DICTIONARY is a key value pair. index is replaced by user defined keys. keys can be numbers, strings, tuples.
- arrangement or sequence is not possible.
- so slice notation does not make sense.
- directly fetch items through a dictionary key

In [331]:
### dictionary keys should be type immutable
### keys of a dictionary can be a tuple or a string or a number or a float because keys of dictionary need to be immutable

In [214]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'TimbreWolves', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [206]:
#### .keys returns the keys
MLB_team.keys()

dict_keys(['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle'])

In [215]:
mydict7 = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}   ### this is accepted
mydict7.keys()

dict_keys([(1, 1), (1, 2), (2, 1), (2, 2)])

In [207]:
MLB_team.values()

dict_values(['Rockies', 'Red Sox', 'TimbreWolves', 'Brewers', 'Mariners'])

In [208]:
MLB_team.items()

dict_items([('Colorado', 'Rockies'), ('Boston', 'Red Sox'), ('Minnesota', 'TimbreWolves'), ('Milwaukee', 'Brewers'), ('Seattle', 'Mariners')])

In [211]:
type('')

str

In [210]:
### SLICING OR SLICE NOTATION DOES NOT WORK
print(mydict7[0:2])     #### NOT ACCEPTABLE

NameError: name 'mydict7' is not defined

In [ ]:
##### Methods in dictionaries

In [220]:
mydict10 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2'],'key4':{'sk1':1,'sk2':2}}

In [ ]:
mydict10.

In [221]:
### to get the keys in a dictionary
mydict10.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [222]:
### to get the values in a dictionary
mydict10.values()

dict_values([123, [12, 23, 33], ['item0', 'item1', 'item2'], {'sk1': 1, 'sk2': 2}])

In [223]:
### to get the items(key and value) in a dictionary
mydict10.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2']), ('key4', {'sk1': 1, 'sk2': 2})])

In [224]:
mydict10['key3'][0].upper()   ### extracts and converts into upper

'ITEM0'

In [380]:
mydict10['key3'][0].lower()   ### extracts and converts into lower

'item0'

In [348]:
### dictionaries are mutable (only the keys are immutable)
### changing a value of a given key
mydict10['key1'] = ['A','B']
print(mydict10)

{'key1': ['A', 'B'], 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2'], 'key4': {'sk1': 1, 'sk2': 2}}

In [381]:
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2}}

In [383]:
### dictionaries are mutable (only the keys are immutable)
### Adding a new key to a dictionary
mydict10['key5'] = ['n1','n2']
print(mydict10)

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2'], 'key4': {'sk1': 1, 'sk2': 2}, 'key5': ['n1', 'n2']}

## DICTIONARY  IN PYTHON --- END

### Strings in Python - START

In [213]:
### string creation
mystring100 = "iam a string"
print(mystring100)
print(len(mystring100))
#Strings are immutable

iam a string
12

In [217]:
mystring100[2] = 'ww'

TypeError: 'str' object does not support item assignment

In [218]:
mystring100 = 'new string'

### string indexing

In [170]:
### grab the letter 'm' from string
print(mystring100[2])

m

In [171]:
### grab sequence of items in a string from index 2 till end
print(mystring100[2:])

m a string

In [172]:
### grab sequence of items in a string from index 2 till end and step of 2
print(mystring100[::2])

imasrn

In [174]:
### string methods - splits the string based on separator and converts it into a list
### if no separator is given, space is considered as default
print(mystring100.split())

['iam', 'a', 'string']

---

## SETS  IN PYTHON --- START

 
SET IS A COLLECTION OF UNIQUE ELEMENTS
unique - no duplicate values

In [433]:
### defining a set
x = set()
print(type(x))

<class 'set'>

In [434]:
### to add a value to a set setname.add(value)
x.add(1)
print(x)
print(type(x))

{1}
<class 'set'>

In [386]:
x.add(20)
print(x)
print(type(x))

{1, 20}
<class 'set'>

In [387]:
x.add(200)
print(x)
print(type(x))

{200, 1, 20}
<class 'set'>

In [192]:
x.add(200)
print(x)
print(type(x))

{200, 1, 20}
<class 'set'>

In [388]:
### adding 200 again does not result in additional item. because set values have to be unique
x.add(5000)
print(x)
print(type(x))

{200, 1, 20, 5000}
<class 'set'>

In [389]:
x.add(10000)
print(x)
#### no sort happens

{1, 200, 5000, 10000, 20}

In [392]:
### set and list - add multiple elements to a set
mylist100 =  [1,2,3,5,20,200,100,188,199,199]
### create a set out of a list
set(mylist100)

### note that the duplicates (199) is removed

{1, 2, 3, 5, 20, 100, 188, 199, 200}

In [357]:
### set and list - add multiple elements to a set --- note duplicates (100,200) are removed
mylist101 =  [100,200,3,5,20,200,100,188,199,'x','2x']
### create a set out of a list
set(mylist101)

{100, 188, 199, 20, 200, '2x', 3, 5, 'x'}

In [393]:
### set and list - add multiple elements to a set --- note duplicates (100,200) are removed
mylist102 =  [100,200,3,5,20,200,100,188,199,'x','2x','2X','2x',199,1999]
### create a set out of a list
set(mylist102)

{100, 188, 199, 1999, 20, 200, '2X', '2x', 3, 5, 'x'}

SET INTERSECTION AND UNION

In [394]:
### SET INTERSECTION AND SET UNION
auto_survey = set(['chevy','bmw','suzuki','ford','toyota','honda','bmw'])
print(auto_survey)
print(len(auto_survey))

{'toyota', 'suzuki', 'bmw', 'chevy', 'honda', 'ford'}
6

In [396]:
auto_survey1 = set(['100','chevy','suzuki','hyundai','kia','holden','scion','lambhorgini','konigsegg','nissangt'])
print(auto_survey1)

{'suzuki', 'nissangt', 'chevy', '100', 'hyundai', 'konigsegg', 'holden', 'lambhorgini', 'kia', 'scion'}

In [397]:
#### set union combines the elements of 2 sets and removes duplicates
### a business use case merge 2 files and remove duplicates - set union is represented by pipe symbol 
setunion = auto_survey | auto_survey1
print(setunion)

{'toyota', 'suzuki', 'nissangt', 'hyundai', 'ford', 'konigsegg', 'kia', 'bmw', 'chevy', '100', 'honda', 'holden', 'lambhorgini', 'scion'}

In [398]:
### set intersection - picks up the common elements between 2 sets

setintersect = auto_survey & auto_survey1
print(setintersect)

{'chevy', 'suzuki'}

In [399]:
 ### Set restrictions - does not support indexing
auto_survey1[1]

TypeError: 'set' object is not subscriptable

In [438]:
setlist15 = [1,1,2,'a',3.9,'99']
xset= set(setlist15)
print(xset)
print(type(xset))

{1, 2, 3.9, '99', 'a'}
<class 'set'>

In [401]:
setlist16 = [1,200,8,99,999,2,4]
set(setlist16)

{1, 2, 4, 8, 99, 200, 999}

In [406]:
### index() gives the index of a value in the set 
### start and stop , start = 0 and stop =5 (slice notation concept)
print(setlist15.index(3.9))

4

In [429]:
print(setlist15.index(3.9,0,5))

4

In [409]:
print(setlist15.index(3.9,0,4))

ValueError: 3.9 is not in list

In [410]:
### index() gives the index of a value in the set 
### start and stop , start = 0 and stop =4 (slice notation concept)
### slicing
print(setlist15.index(3.9,0,4))

ValueError: 3.9 is not in list

In [430]:
 setlist15

[1, 1, 2, 'a', 3.9, '99']

In [311]:
### methods that are there in a set

In [412]:
### clearing the values in a set - using .clear method
setlist15.clear()
print(setlist15)

[]

In [439]:
print(xset)
print(type(xset))

{1, 2, 3.9, '99', 'a'}
<class 'set'>

In [440]:
#### appending elements to a set and converting to a list
### 
xset.append(3000)
print(xset)
print(type(xset))

AttributeError: 'set' object has no attribute 'append'

In [419]:
setlist15

[3000, 3000, 3000, 3000, 3000, 3000]

In [382]:
### .pop method
setlist15.pop(2)

3000

## SET  IN PYTHON --- END

---