### NumPy
NumPy ("Numerical Python") is the fundamental package for scientific computing with Python. It contains among other things:

a powerful N-dimensional array(ND Array) object
sophisticated (broadcasting) functions
useful linear algebra, Fourier transform, and random number capabilities


http://www.numpy.org/

## Installation Instructions

**It is highly recommended you install Python using the Anaconda distribution to make sure all underlying dependencies (such as Linear Algebra libraries) all sync up with the use of a conda install. If you have Anaconda, install NumPy by going to your terminal or command prompt and typing:**
    
    conda install numpy
    
**If you do not have Anaconda and can not install it, please refer to [Numpy's official documentation on various installation instructions.](http://docs.scipy.org/doc/numpy-1.10.1/user/install.html)**

In [1]:
import numpy as np

### if for some reason the import gives errors, we need to install numpy using "conda install numpy" via the anaconda prompt
### windows --> start --> anadoconda3 folder --> anaconda prompt
### "np" is the alias for the package numpy. the alias need not be "np" but recommended to be named
## as "np"

######  WHY NUMPY

In [9]:
### let us understand why numpy
distance = [10,15,17,26] 
time = [0.3,0.47,.55,1.2]

In [10]:
distance * 2

[10, 15, 17, 26, 10, 15, 17, 26]

In [4]:
print(type(distance))
print(type(time))

<class 'list'>
<class 'list'>

In [5]:
## speed = distance/time
speed = distance/time

### we confront an error list

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [7]:
## solving the above problem via numpy
my_distance_arr = np.array(distance)
my_time_arr = np.array(time)

print(type(my_distance_arr))
print(type(my_time_arr))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [8]:
my_distance_arr/my_time_arr

array([33.33333333, 31.91489362, 30.90909091, 21.66666667])

In [17]:
### what if the number of elements are different in the arrays
distance = [10,15,17,26,100]
time = [0.3,0.47,.55,1.2]
my_distance_arr = np.array(distance)
my_time_arr = np.array(time)
my_distance_arr/my_time_arr

### results in an error

ValueError: operands could not be broadcast together with shapes (5,) (4,)

In [15]:
### Numpy Arrays

In [13]:
my_list = [10,20,30,40,[10,2]]

In [25]:
type(my_list)

list

In [14]:
### create numpy array from list my_list
my_num_arr_1 = np.array(my_list)

##print the array
print(my_num_arr_1)

print(type(my_num_arr_1))

[10 20 30 40 list([10, 2])]
<class 'numpy.ndarray'>

In [15]:
##length of the array
len(my_num_arr_1)

5

In [16]:
## dimension of the numpy arr use .ndim 
my_num_arr_1.ndim

1

In [19]:
### shape of a numpy array
my_num_arr_1.shape

(5,)

In [20]:
my_num_arr_1

array([10, 20, 30, 40, list([10, 2])], dtype=object)

In [18]:
#### Data type of an array
my_num_arr_1.dtype

dtype('O')

In [21]:
mylist10 = ['a','b',100]
print(type(mylist10))
myarr = np.array(mylist10)
print(type(myarr))
print(myarr.dtype)

<class 'list'>
<class 'numpy.ndarray'>
<U3

In [29]:
### class of an array
type(my_num_arr_1)

numpy.ndarray

In [24]:
tstlst = ['a',12,20]

In [25]:
nparr1 = np.array(tstlst)

In [35]:
print(nparr1)

['a' '12' '20']

In [37]:
type(nparr1)

numpy.ndarray

In [39]:
nparr1.ndim

1

In [40]:
nparr1.dtype

dtype('<U2')

## 2 dimensional numpy arrays - matrix

In [41]:
## for methods that can be used with an array
###  numpyarray name. hit tab

In [22]:
### create a matrix
### we can use a list to build a matrix - list of lists
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(type(my_matrix))
print(my_matrix)

<class 'list'>
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
## create a numpy array from list
my_num_arr2 =  np.array(my_matrix)
print(my_num_arr2)
print(type(my_num_arr2))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
<class 'numpy.ndarray'>

In [24]:
### dimension
my_num_arr2.ndim

2

In [25]:
###shape of array (in a 2 dimensional array- shape gives no of rows and no of columns)
my_num_arr2.shape

(3, 3)

In [26]:
len(my_num_arr2)

3

In [27]:
### size gives you the total number of elements in a numpy array - multiplication of no of 
### row and column
my_num_arr2.size

9

In [31]:
### applying len function on a 2 D array will give a result for only one Dimension
len(my_num_arr2)

3

In [32]:
mylisnew = ['a',1,2,3]
np.array(mylisnew)

array(['a', '1', '2', '3'], dtype='<U1')

In [28]:
### create a numpy array from a tuple
my_tuple = ((1,2),(3,4),(5,6))
my_tup_arr = np.array(my_tuple)
print(my_tup_arr)
print(type(my_tup_arr))

[[1 2]
 [3 4]
 [5 6]]
<class 'numpy.ndarray'>

In [35]:
my_tup_arr.ndim

2

### Exercises 
Try creating numpy arrays from dictionary

### situations where we will need to generate arrays 

## built in methods in numpy

- arange - returns evenly spaced values with in a given interval
-  arange - array range -helps in auto number generation

- syntax of arange - start,stop,step
- usage 
     - np.arange(start,stop,step)
     
     
- similar to range() in python

In [33]:
### displays evenly spaced numbers bteween 0 and 50 ## similar to range in python
np.arange(0,50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [29]:
### example 2- arange
np.arange(199,250)

array([199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211,
       212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224,
       225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
       238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249])

In [30]:
### ### creates a uni dimension array with evenly spaced numbers (using arange) from 0 through 49 and displays the dimension
### of the resultant array
x = np.arange(0,50)
print(x)
print(type(x))
print(x.ndim)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]
<class 'numpy.ndarray'>
1

In [39]:
### smart coding
### creates a uni dimension array with evenly spaced numbers (using arange) from 0 through 49 and displays the dimension
### of the resultant array
print(np.arange(0,50).ndim)
print(np.arange(0,50).size)
print(np.arange(0,50).shape)

1
50
(50,)

In [40]:
### ### creates a uni dimension array with evenly spaced numbers (using arange) from 0 through 49 and displays the shape
### of the resultant array
np.arange(0,50).shape

(50,)

In [31]:
### displays evenly spaced numbers from 0 to 50 stepsize 2
### start = 0, stop = 50, step =2
np.arange(0,50,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

In [42]:
np.arange(0,50,2).ndim

1

In [43]:
###

In [32]:
### zeros - generates an array of 10  zeroes
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [33]:
### generates an array of 3 ones
np.ones(3)

array([1., 1., 1.])

In [34]:
### create an array with 3 items and the values for all 3 items is 1. 
### multiply that array with 899 to get an uni dimensional array of 3 items with values as 899

np.ones(3) * 899

array([899., 899., 899.])

In [35]:
## CREATE A 5X5 MATRIX OF 0 - 5 ROWS AND 5 COLUMNS OF ZEROS
### 2 dimensional array
print(np.zeros((5,5)))
print(np.zeros((5,5)).ndim)
print(np.zeros((5,5)).shape)
print(np.zeros((5,5)).size)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
2
(5, 5)
25

In [48]:
### create array of ones with 5 rows and 5 columns - 2 dimensional array- matrix
print(np.ones((5,5)))
print(np.ones((5,5)).ndim)
print(np.ones((5,5)).shape)
print(np.ones((5,5)).size)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
2
(5, 5)
25

In [49]:
### check the number of dimension
np.ones((5,5)).ndim

2

In [50]:
np.ones((5,5))*100

### gives us a 5X5 matrix of 100s

array([[100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100.]])

In [51]:
### create  2 dimensional array/matrix of value 5, with 10 rows and 10 columns
np.ones((10,10)) * 5

array([[5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.]])

In [36]:
### creating arrays more than 3D arrays
#### first element - number of matrices
#### second param - number of rows in each matrix
#### third param - number of columns in each matrix
np_3d=np.ones((4,5,3))
print(np_3d)
print('\n')
print("no of dimensions is ",np_3d.ndim)
print('\n')
print("shape of the array is :",np_3d.shape)
print('\n')
print("size of the array is :",np_3d.size)
print('\n')
print("len of the array is :",len(np_3d))     
#### gives the length of the first dimension - in this case 4

[[[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]]


no of dimensions is  3


shape of the array is : (4, 5, 3)


size of the array is : 60


len of the array is : 4

### generating random integers
#####  random is a library under numpy for generating random integers

In [53]:
### generate random number between 1 and 100
np.random.randint(1,100)

99

In [41]:
### generate 50 random numbers between 1 and 100
### startnumber , ending number and number of numbers
np.random.randint(1,100,50)

array([39, 56, 25, 72, 13, 50, 22, 30, 50, 39, 50, 19, 25, 37, 91, 95, 39,
       69, 97, 82, 79, 43,  6, 46, 19, 99, 50, 64, 90, 82, 34, 60, 73, 13,
       40, 46, 79, 58, 19, 28, 81,  4, 38, 71, 80, 79,  5, 59, 69, 76])

In [55]:
print(type(np.random.randint(1,100,10)))
print((np.random.randint(1,100,10)).ndim)

<class 'numpy.ndarray'>
1

randn
Return a sample (or samples) from the "standard normal" distribution. Unlike rand which is uniform:

In [42]:
### to generate data for normal distribution we use randn function - random normal
### generate 2 numbers that are randomly normaly
np.random.randn(2)

array([-0.80316156, -0.46943124])

In [43]:
### generate a matrix (2 dimensional array) which has values that can be plotted in a normal curve/distribution
np.random.randn(5,5)

array([[-0.98474723, -0.96791442,  0.33774775,  0.87865451,  0.20272814],
       [-0.20638274,  1.26192115, -0.53648754, -1.11275898,  0.52394168],
       [ 0.63710928,  1.28625025, -1.03889817,  0.32425755,  2.26717465],
       [-1.74645183,  1.59049569,  1.10823938,  1.82188625,  1.38611687],
       [ 0.62105638, -0.71216204,  0.42019775, -0.3199208 , -0.89411126]])

## Shape Manipulation
functions to manipulate shape of an array

- reshape()
- resize()
- ravel()             - flattens an array from many dimensions to 1 dimension

In [44]:
### create an np array(2 dim) of 2 lists
mynparr = np.array([[10,20,30,44,55],[20,29,38,39,45]])
print(mynparr)
print('\n')
print(mynparr.ndim)

[[10 20 30 44 55]
 [20 29 38 39 45]]


2

In [47]:
### generate a numpy array with 25 items
myarr10 = np.arange(11,51)
print(myarr10)
print(len(myarr10))
print(myarr10.ndim)

[11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]
40
1

In [49]:
myarr10.reshape(5,8)

array([[11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39, 40, 41, 42],
       [43, 44, 45, 46, 47, 48, 49, 50]])

In [50]:
myarr10

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
       45, 46, 47, 48, 49, 50])

In [46]:
##Reshapy myarr10 to 2 dimensional array
myarr10_reshaped = myarr10.reshape(5,8)
print('/n')
print("print the array")
print(myarr10_reshaped)
print(myarr10_reshaped.ndim)

/n
print the array
[[11 12 13 14 15 16 17 18]
 [19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34]
 [35 36 37 38 39 40 41 42]
 [43 44 45 46 47 48 49 50]]
2

In [114]:
print('/n')
print("check the dimensions and size")
print(myarr10_reshaped.ndim, myarr10_reshaped.size)

/n
check the dimensions and size
2 40

In [51]:
### to get max AND MIN value of a matrix
print('/n')
print('max and min values in array myarr10_reshaped')
print(myarr10_reshaped.max(),myarr10_reshaped.min())

/n
max and min values in array myarr10_reshaped
50 11

In [52]:
## to get the index of the max and min values in a matrix
print('/n')
print('indexes of max and min values in array myarr10_reshaped')
print(myarr10_reshaped.argmax())
print(myarr10_reshaped.argmin())

/n
indexes of max and min values in array myarr10_reshaped
39
0

#RESHAPE

In [ ]:
### how to transform 1 dimension array to matrix or 2 dimensions? 
### reshapee function reshapes a one dimensional array to a 2 dimensional array or a matrix

In [53]:
### generate a numpy array with 35 items
myarr20 = np.arange(35)


### reshape
myarr20_reshaped = myarr20.reshape(7,5)

print('/n')
print("print the array")
print(myarr20_reshaped)
print('/n')
print("check the dimensions and size")
print(myarr20_reshaped.ndim, myarr20_reshaped.size)
### to get max AND MIN value of a matrix
print('/n')
print('max and min values in array myarr10_reshaped')
print(myarr20_reshaped.max(),myarr20_reshaped.min())

## to get the index of the max and min values in a matrix
print('/n')
print('indexes of max and min values in array myarr10_reshaped')
print(myarr20_reshaped.argmax())
print(myarr20_reshaped.argmin())

/n
print the array
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]
 [30 31 32 33 34]]
/n
check the dimensions and size
2 35
/n
max and min values in array myarr10_reshaped
34 0
/n
indexes of max and min values in array myarr10_reshaped
34
0

In [64]:
### len can understand a uni dimensional array, and so it just gives the length of rows
print(len(myarr10_reshaped))
print(len(myarr20_reshaped))

5
7

In [66]:
myarr10_reshaped.ndim

2

In [68]:
myarr10.ndim

###does not change the original array dimension

1

In [3]:
### len can understand a uni dimensional array, and so it just gives the length of rows

---

In [ ]:
### Using Ravel

In [ ]:
### converting a 2D to 1D arrays using ravel()
print('now flatten mynparray')
mynparrflat = (mynparr.ravel())  ### ravel function flattens the arrays
print('\n')
print(mynparrflat)
print('\n')
print(mynparrflat.ndim)

#RESIZING A NUMPY ARRAY

In [69]:
## create a numpy array
mynumparr100 = np.array([[100,200,300,400,500,20],[27,26,30,29,88,77],[41,51,21,301,71,25]])
print(mynumparr100)
print(mynumparr100.ndim)
### array has 3 rows and 6 columns

[[100 200 300 400 500  20]
 [ 27  26  30  29  88  77]
 [ 41  51  21 301  71  25]]
2

In [71]:
### resize to 6 rows and 3 columns -- resize helps in resizing of a two dimensional array
mynumparr100.reshape(6,3)
print(mynumparr100)

[[100 200 300 400 500  20]
 [ 27  26  30  29  88  77]
 [ 41  51  21 301  71  25]]

In [73]:
mynumparr100.shape
### note original array still is 3X6

(3, 6)

In [126]:
print(mynumparr100.max())
print(mynumparr100.argmax())

500
4

In [76]:
print(mynumparr100.min())

mynumparr100.argmin()

20

5

In [74]:
### reshaping
mynumparr100_reshaped = mynumparr100.reshape(2,9)
print(mynumparr100_reshaped)
print(mynumparr100)

[[100 200 300 400 500  20  27  26  30]
 [ 29  88  77  41  51  21 301  71  25]]
[[100 200 300 400 500  20]
 [ 27  26  30  29  88  77]
 [ 41  51  21 301  71  25]]

In [78]:
myarr20 = np.arange(35)
print(myarr20)
print(myarr20.ndim)

###
print('resizing')
myarr_rsz = myarr20.resize(5,7)
print(myarr_rsz)
print(myarr20.shape)
### note origianl array myarr20 is resized -
### 
myarr_rshp = myarr20.reshape(5,7)
print(myarr_rshp)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34]
1
resizing
None
(5, 7)
[[ 0  1  2  3  4  5  6]
 [ 7  8  9 10 11 12 13]
 [14 15 16 17 18 19 20]
 [21 22 23 24 25 26 27]
 [28 29 30 31 32 33 34]]

In [79]:
### this is wrong usage
### resize is called as an inplace function.
### inplace functions changes the original structure of the original object

## array split

In [80]:
### splits the array into 2
mynumparr101 = np.array([[100,200,300,400,500,20],[25,20,30,29,88,77],[41,51,21,301,71,25]])
print(mynumparr101)

### array elements should be in even numbers for them to split in exact vertical halfs
### if they are odd, we get an erorr

[[100 200 300 400 500  20]
 [ 25  20  30  29  88  77]
 [ 41  51  21 301  71  25]]

In [81]:
myarr_hsplit = np.hsplit(mynumparr101,2) 
print('\n')
print(myarr_hsplit)
print(myarr_hsplit)

[array([[100, 200, 300],
       [ 25,  20,  30],
       [ 41,  51,  21]]), array([[400, 500,  20],
       [ 29,  88,  77],
       [301,  71,  25]])]
[array([[100, 200, 300],
       [ 25,  20,  30],
       [ 41,  51,  21]]), array([[400, 500,  20],
       [ 29,  88,  77],
       [301,  71,  25]])]

In [82]:
mynumparr1011 = np.array([[100,200,300,400,500],[25,20,30,29,88],[41,51,21,301,715],[411,511,211,301,71]])
print(mynumparr1011)

[[100 200 300 400 500]
 [ 25  20  30  29  88]
 [ 41  51  21 301 715]
 [411 511 211 301  71]]

In [83]:
### will need to result in equal division
np.hsplit(mynumparr1011,2)

ValueError: array split does not result in an equal division

## array stack

In [84]:
### stack the array - 2 arrays into one  - array concatenation
mynumparr11 = np.array([100,200,300,400,500,20])
mynumparr12 = np.array([25,20,30,29,88,77,100])
print(mynumparr11)
print(mynumparr12)
np.hstack((mynumparr11,mynumparr12))

[100 200 300 400 500  20]
[ 25  20  30  29  88  77 100]

array([100, 200, 300, 400, 500,  20,  25,  20,  30,  29,  88,  77, 100])

In [85]:
### stack the array - concatenates 2 dimensiona arrays
mynumparr13 = np.array([[1,2,3],[3,4,5]])
mynumparr14 = np.array([[6,7,8],[9,10,11]])
print(mynumparr13)
print(mynumparr13.ndim)
print(mynumparr14)
print(mynumparr14.ndim)
 
x= np.hstack((mynumparr13,mynumparr14))
print(x)

[[1 2 3]
 [3 4 5]]
2
[[ 6  7  8]
 [ 9 10 11]]
2
[[ 1  2  3  6  7  8]
 [ 3  4  5  9 10 11]]

## NumPy - Array Input and Output

In [4]:
import numpy as np

In [5]:
#Create a simple array
simple_array = np.arange(11)

simple_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [6]:
#Save array on hard disk in binary format (file extension is .npy)
np.save('array1',simple_array)

In [7]:
#Change arr
simple_array = np.arange(21)
#Show
simple_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [8]:
#Lets see the original saved copy - This does not get affected by the changes we have made to the simple_array
np.load('array1.npy')

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
#Saving multiple arrays into a zip file using savez (file extension is .npz and not .npy)
np.savez('2_arrays.npz',a=simple_array,b=simple_array)

In [10]:
#Now loading multiple arrays using load
archived_arrays = np.load('2_arrays.npz')

#Show
archived_arrays['a']

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [11]:
#Saving the arrays as text files

simple_array2 = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
np.savetxt('my_text.txt',simple_array2,delimiter=',')

In [12]:
simple_array2 = np.loadtxt('my_text.txt',delimiter = ',')

simple_array2

array([[ 1.,  2.,  3.,  4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11., 12., 13., 14.]])

In [7]:
np.hstack((mynumparr13,mynumparr14))
### hstack does not change dimensions

array([[ 1,  2,  3,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

In [5]:
array1 = [[10,20,30],[1,2,3]]
array2 = [[5,6,7],[7,8,9]]
array_1 = np.array(array1)
array_2 = np.array(array2)
np.hstack(array_1,array_2)

TypeError: hstack() takes 1 positional argument but 2 were given

In [90]:
country_list = ['India','china','Usa','pak']
country_code_list = [91,100,138,101]

## convert list to uni dimensional numpy array country_arr
country_arr = np.array(country_list)

### pint values of array
print(country_arr)

### dimensions of array
print(country_arr.ndim)

### size of array
print(country_arr.size)

### data type of array     
print(country_arr.dtype)

['India' 'china' 'Usa' 'pak']
1
4
<U5

find more information about the formats
https://docs.scipy.org/doc/numpy/reference/generated/numpy.dtype.byteorder.html
https://en.wikipedia.org/wiki/Endianness
https://stackoverflow.com/questions/40589499/what-do-the-signs-in-numpy-dtype-mean

In [1]:
print(country_arr.dtype)

NameError: name 'country_arr' is not defined

### INDEXING NUMPY ARRAYS

In [54]:
## indexing one dimensional array
arr5 = np.arange(1,26)
arr5

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [55]:
arr5_reshaped = arr5.reshape(5,5)
arr5_reshaped

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [56]:
arr6 = np.arange(10,21)
arr6

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

##### using indexes with 1 dimensional numpy arrays

In [57]:
### to select a specific element from an array
arr6[3]

13

In [58]:
## Example 2
list7 = [11,22,33,14,55,60,7,8,9,10,200,300,19,25,29]

### create an array from list7
arr7 = np.array(list7)

### pring the dimension of arr7
print(arr7.ndim)

### display the contents of arr7
print(arr7)

1
[ 11  22  33  14  55  60   7   8   9  10 200 300  19  25  29]

In [59]:
### grab the element in the index 10
arr7[10]

200

In [63]:
### grabbing a list of items from array - first 6 element - SIMIlar to python slice notations
arr7[0:6]

array([11, 22, 33, 14, 55, 60])

In [64]:
arr7[0:6:2]

array([11, 33, 55])

In [46]:
## to grab every elemeent in array
arr7[0:]

array([ 11,  22,  33,  14,  55,  60,   7,   8,   9,  10, 200, 300,  19,
        25,  29])

In [174]:
## to grab every element

arr7[:]

array([ 11,  22,  33,  14,  55,  60,   7,   8,   9,  10, 200, 300,  19,
        25,  29])

In [175]:
##### grab from 33 to 60
#### 33 is index 2 and 60 is index of 5,but slice notation has to go till index of 6 to grab value in  index of 5
arr7[2:6]

array([33, 14, 55, 60])

In [107]:
### grab all the elements from a particular element in array
arr7[4:]

array([ 55,  60,   7,   8,   9,  10, 200, 300,  19,  25,  29])

In [108]:
### arr7[[0][5]]  ????? ? extracting 2 particular items

In [177]:
### multi dimensional arrays
threeD_array = np.arange(27)
threeD_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [178]:
### to create a 3 dimensional array using reshape
threeD_array.reshape(3,3,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [98]:
fourD_array = np.arange(256).reshape(4,4,4,4)
print(fourD_array)

[[[[  0   1   2   3]
   [  4   5   6   7]
   [  8   9  10  11]
   [ 12  13  14  15]]

  [[ 16  17  18  19]
   [ 20  21  22  23]
   [ 24  25  26  27]
   [ 28  29  30  31]]

  [[ 32  33  34  35]
   [ 36  37  38  39]
   [ 40  41  42  43]
   [ 44  45  46  47]]

  [[ 48  49  50  51]
   [ 52  53  54  55]
   [ 56  57  58  59]
   [ 60  61  62  63]]]


 [[[ 64  65  66  67]
   [ 68  69  70  71]
   [ 72  73  74  75]
   [ 76  77  78  79]]

  [[ 80  81  82  83]
   [ 84  85  86  87]
   [ 88  89  90  91]
   [ 92  93  94  95]]

  [[ 96  97  98  99]
   [100 101 102 103]
   [104 105 106 107]
   [108 109 110 111]]

  [[112 113 114 115]
   [116 117 118 119]
   [120 121 122 123]
   [124 125 126 127]]]


 [[[128 129 130 131]
   [132 133 134 135]
   [136 137 138 139]
   [140 141 142 143]]

  [[144 145 146 147]
   [148 149 150 151]
   [152 153 154 155]
   [156 157 158 159]]

  [[160 161 162 163]
   [164 165 166 167]
   [168 169 170 171]
   [172 173 174 175]]

  [[176 177 178 179]
   [180 181 182 183]
   [184 185 186 187]
   [188 189 190 191]]]


 [[[192 193 194 195]
   [196 197 198 199]
   [200 201 202 203]
   [204 205 206 207]]

  [[208 209 210 211]
   [212 213 214 215]
   [216 217 218 219]
   [220 221 222 223]]

  [[224 225 226 227]
   [228 229 230 231]
   [232 233 234 235]
   [236 237 238 239]]

  [[240 241 242 243]
   [244 245 246 247]
   [248 249 250 251]
   [252 253 254 255]]]]

In [ ]:
fourD_array.ndim

In [66]:
ex_list = [1,2,200,199,28]
ex_list

[1, 2, 200, 199, 28]

In [69]:
ex_list[1] = 100
ex_list

[1, 100, 200, 199, 28]

In [70]:
ex_list[0:3] = 88

TypeError: can only assign an iterable

###### BROADCASTING ###### 

Updating Numpy arrays

Power of Broacasting 
ability to perform operations on all elements of a numpy array and make changes 
permanently changes the values in the array

In [73]:
vararr = np.arange(100,110)

In [74]:
vararr

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109])

In [75]:
vararr.size

10

In [76]:
vararr[8]

108

In [77]:
### to update the value in index 2 from 102 to 500
vararr[2] = 500
## print vararr
print(vararr)

[100 101 500 103 104 105 106 107 108 109]

In [78]:
## broadcast the value 999 to first 5 elements in the array (0:4+1)
### updating an array using slice notation 

vararr[0:6] = 888
print(vararr)

[888 888 888 888 888 888 106 107 108 109]

Note, to do the same operation with a list or dictionary, we need to iterate each item in the list of dictionary within
a forloop and then make an udpate

In [79]:
vararr[4] = 111  #### update one item
print(vararr)

[888 888 888 888 111 888 106 107 108 109]

In [80]:
vararrtst = np.arange(100,110)
vararrtst[0:] = 999
print(vararrtst)
vararrtst[0:2] = 888
print(vararrtst)

[999 999 999 999 999 999 999 999 999 999]
[888 888 999 999 999 999 999 999 999 999]

In [84]:
vararr1 = np.arange(100,125)

vararr1

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124])

In [89]:
###  slice of vararr into another array called "slice_of_vararr1"
slice_of_vararr1 = vararr1[0:6]

print(slice_of_vararr1)
print(type(slice_of_vararr1))

[99 99 99 99 99 99]
<class 'numpy.ndarray'>

In [92]:
### broadcast 99 to all elements in array slice_of_vararr1
slice_of_vararr1[:] = [99,100,100,200,200,100]
print(slice_of_vararr1)

[ 99 100 100 200 200 100]

In [88]:
vararr1

array([ 99,  99,  99,  99,  99,  99, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124])

In [70]:
vararr1[:] = 888
print(vararr1)

[888 888 888 888 888 888 888 888 888 888 888 888 888 888 888 888 888 888
 888 888 888 888 888 888 888]

In [71]:
slice_of_vararr1

array([888, 888, 888, 888, 888, 888])

In [64]:
print(vararr1)

[ 99  99  99  99  99  99 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124]

In [93]:
### how to change without changing the original array??? 
vararr1_copy = vararr1.copy()
print(vararr1)
print(vararr1_copy)

[ 99 100 100 200 200 100 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124]
[ 99 100 100 200 200 100 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124]

In [94]:
vararr1_copy[:] = 200
print(vararr1_copy)

[200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200
 200 200 200 200 200 200 200]

In [123]:
vararr1

array([ 99, 100, 100, 200, 200, 100, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124])

In [75]:
vararr

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109])

In [125]:
### Conditional statements in numpy
numarr_cond = np.arange(10,21)
print(numarr_cond)
print('\n')

print(type(numarr_cond))
print('\n')
### to find the datatype of an array
print(numarr_cond.dtype)

[10 11 12 13 14 15 16 17 18 19 20]


<class 'numpy.ndarray'>


int32

In [126]:
### looping in a array based on a condition
numarr_cond > 14
### the condition results in a boolean array as it gives a True or False response

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [78]:
## to know which are the actual values of elements that are greater than 5
## 
bool_array = numarr_cond > 14
print(bool_array)             #### generates a numpy array with boolean values based on the condition executed
print(type(bool_array))
print('\n')

print(numarr_cond[bool_array])       ### array_name[bool_arry_var] - extracts only those values that are greater than 14

[False False False False False  True  True  True  True  True  True]
<class 'numpy.ndarray'>


[15 16 17 18 19 20]

In [122]:
numarr_cond

NameError: name 'numarr_cond' is not defined

###### smart coding - reducing  the number of lines of code

In [128]:
numarr_cond

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [127]:
numarr_cond[numarr_cond>14]

array([15, 16, 17, 18, 19, 20])

In [129]:
## numarr_cond   -- original array is intact

In [129]:
### to find all the elements of array numarr_cond that are even
numarr_cond[(numarr_cond%2 == 0)]    #### == is the assignment operation

array([10, 12, 14, 16, 18, 20])

In [130]:
### to find all the elements of array numarr_cond that are odd
numarr_cond[(numarr_cond%2 != 0)]    ### != is the not equal to operation

array([11, 13, 15, 17, 19])

In [133]:
### multiple conditions - and condition
numarr_cond[(numarr_cond > 10) & (numarr_cond < 14) ]   #### & parameter needs both the conditions to be true

array([11, 12, 13])

In [132]:
### multiple conditions - or condition
numarr_cond[(numarr_cond > 15) | (numarr_cond < 19) ]   ### pipe symbol is used for or condition

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

##### INDEXING WITH 2 DIMENSIONAL ARRAYS

In [96]:
my2darr = np.arange(100,125)

In [140]:
print(my2darr)

[100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124]

In [97]:
### reshape the array
my2darr_reshape = my2darr.reshape(5,5)
print(my2darr_reshape)
print(my2darr.ndim)
print(my2darr.size)

[[100 101 102 103 104]
 [105 106 107 108 109]
 [110 111 112 113 114]
 [115 116 117 118 119]
 [120 121 122 123 124]]
1
25

Interpretation of indexes in a 2 D array
- Column Index - index of columns starting with 0 index
- Row index   - index of rows starting with 0 index

- colindex 0   1   2   3    4          row indx

-        [100 101 102 103 104]         0   
-        [105 106 107 108 109]         1
-        [110 111 112 113 114]         2
-        [115 116 117 118 119]         3
-        [120 121 122 123 124]]        4  

- for example, the item 100 has a rowidx = 0, colidx=0
-  item 107 has rowindx = 1 and colidx = 2

In [98]:
### two formats for getting data from a matrix
### double bracket format   arrayname[rownumber][colnumber]
###
### if i have to get the value "100" which is 1st row and 1st column in the matrix my_new_data_reshape
my2darr_reshape[0][0]

100

In [99]:
## to get the value "103" - first row (0 row index) and 4 th column(3 column index)
my2darr_reshape[0][3]

103

In [232]:
### to get the value in 4 the row(rowindx =3) , 4th column(colindx=3

my2darr_reshape[3][3]

118

In [100]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [234]:
### extract first row alone
my2darr_reshape[0]

array([100, 101, 102, 103, 104])

In [235]:
### to extract value 110 ,3 row (2nd row index) , 1st col (0 col index)
my2darr_reshape[2][0]

110

In [236]:
### extract 112 
my2darr_reshape[2][2]

112

In [237]:
###
my2darr_reshape[4][0]

120

In [101]:
### alternate format for getting data from matrix
### my_new_data_reshape[rowindex,colindex]

In [102]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [103]:
### 
my2darr_reshape[0,0]

100

In [104]:
my2darr_reshape[4,4]

124

In [240]:
my2darr_reshape[0,3]

103

In [105]:
### first row - row indx of 0

my2darr_reshape[0]

array([100, 101, 102, 103, 104])

In [106]:
### last row - row indx of 4
my2darr_reshape[4]

array([120, 121, 122, 123, 124])

#### Using Slice Notations in Numpy Array Indexing - 2d matrix

In [108]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [109]:
my2darr_reshape[0]

array([100, 101, 102, 103, 104])

In [107]:
### alternative way of extracting first row - row index is 0, row index of 2nd row is 1 
### slice notation says start with firt row (index 0) , go uptil second row(index 1), but dont include it
my2darr_reshape[0:1]

array([[100, 101, 102, 103, 104]])

In [110]:
### first 2 rows
my2darr_reshape[0:2]

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109]])

In [112]:
### last 2 rows
my2darr_reshape[2:5]

array([[110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [114]:
my2darr_reshape[2:5,:]

array([[110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [99]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [97]:
### extract the rows with index 0,2,4, using slice notation, start,stop and step
### starting index= 0
### stopping index is 5 - go uptil index 5, but exclude 5
#### stepsize of 2 
my2darr_reshape[0:5:2]

array([[100, 101, 102, 103, 104],
       [110, 111, 112, 113, 114],
       [120, 121, 122, 123, 124]])

In [259]:
### another way to get the first row 
my2darr_reshape[:1]

array([[100, 101, 102, 103, 104]])

#### syntax
arrayname [starting_row_idx:stop_row_idx:stepsize, starting_col_idx,stopping_col_idx,step]

In [101]:
my2darr_reshape[0:1]

array([[100, 101, 102, 103, 104]])

In [102]:
### extract the first row
### :1 means - start with rowidx of 0, stop at row index -1 --- extract the first row
### : means, include all the column index
my2darr_reshape[0:1,:]

array([[100, 101, 102, 103, 104]])

In [163]:
mylist = [1,2,50,10,200,300]
mylist[3:5]

[10, 200]

In [103]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [263]:
### extract first 2 rows all columns

my2darr_reshape[:2]

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109]])

In [264]:
### another way  - extract first 2 rows all columns
my2darr_reshape[:2,:]

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109]])

In [268]:
### extract first all rows all columns
### way1
print(my2darr_reshape[0:5,0:5])
print('\n')
### another way
print(my2darr_reshape[:,:])

[[100 101 102 103 104]
 [105 106 107 108 109]
 [110 111 112 113 114]
 [115 116 117 118 119]
 [120 121 122 123 124]]


[[100 101 102 103 104]
 [105 106 107 108 109]
 [110 111 112 113 114]
 [115 116 117 118 119]
 [120 121 122 123 124]]

In [269]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [116]:
### extracting the first column
###  0:5 means - start with first row(0 index) go uptil index(5) but do not include it
### 0:! - start with 1st col (0 index) go uptil 2nd colu(index 1) but do not include it

#my2adarr_reshape[starting rowidx:stoprowindx:step,startcolidx:stopcolidx:step]
my2darr_reshape[0:5,0:1]

array([[100],
       [105],
       [110],
       [115],
       [120]])

In [117]:
my2darr_reshape[0:5,0:1]

array([[100],
       [105],
       [110],
       [115],
       [120]])

In [120]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [121]:
my2darr_reshape[0:1,:]

array([[100, 101, 102, 103, 104]])

In [119]:
my2darr_reshape[2:4,2:4]

array([[112, 113],
       [117, 118]])

In [284]:
### another way of getting the entire column 
### 0: means get all the rows 
print(my2darr_reshape[0:,0:1])
print('\n')
print(my2darr_reshape[:,0:1])

[[100]
 [105]
 [110]
 [115]
 [120]]


[[100]
 [105]
 [110]
 [115]
 [120]]

In [172]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [106]:
### extracting 2nd column -go till col indx of 2, but exclude it
my2darr_reshape[4:5,1:2]

array([[121]])

In [286]:
### extracting 4th column
my2darr_reshape[0:5,3:4]

array([[103],
       [108],
       [113],
       [118],
       [123]])

In [190]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [196]:
### another way of getting 1st column alone
### 0 is 1st row - 0 index
### 0: - start with first row and get all the rows
###, separator between rows and columns
### 0 after separator = refers to first column 
my2darr_reshape[0:,0]

array([100, 105, 110, 115, 120])

In [194]:
### yet another way
my2darr_reshape[0:,:1]

array([[100],
       [105],
       [110],
       [115],
       [120]])

In [195]:
### extract 2nd column
my2darr_reshape[:5,1:2]

array([[101],
       [106],
       [111],
       [116],
       [121]])

### to get the first 2 columns


my2darr_reshape[rowindex start:rowindex end, col indx start:col indexend]

In [200]:

my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [176]:
### get the 1st 2 columns
my2darr_reshape[0:5,0:2]

array([[100, 101],
       [105, 106],
       [110, 111],
       [115, 116],
       [120, 121]])

In [289]:
### get 111, 112, 113, 114
my2darr_reshape[2:3,1:5]

array([[111, 112, 113, 114]])

In [288]:
### extract a portion of the array ,last 4 columns from the last 3 rows
my2darr_reshape[2:5,1:5]

array([[111, 112, 113, 114],
       [116, 117, 118, 119],
       [121, 122, 123, 124]])

In [208]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [211]:
my2darr_reshape[1:3,1:5]

array([[106, 107, 108, 109],
       [111, 112, 113, 114]])

## conditional statements with matrices

In [291]:
### find all even numbers in the matrix my2darr_reshape
my2darr_reshape[(my2darr_reshape %2 == 0)]

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124])

In [292]:
### find all numbers between 100 till 120
my2darr_reshape[(my2darr_reshape > 100) & (my2darr_reshape<120)]

array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113,
       114, 115, 116, 117, 118, 119])

In [180]:
### find all numbers between 100 till 120 
my2darr_reshape[(my2darr_reshape > 100) | (my2darr_reshape<120)]

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124])

In [220]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

###  numpy arithmetic operations and universal functions

In [293]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [182]:
my2darr_reshape[2:3,1:5]

array([[111, 112, 113, 114]])

In [294]:
### multiplication
my2darr_reshape[2:3,1:5] * 2

array([[222, 224, 226, 228]])

In [295]:
## div
my2darr_reshape[2:3,1:5] / 2

array([[55.5, 56. , 56.5, 57. ]])

In [322]:
print(my2darr_reshape.ndim)
x2 = my2darr_reshape[2:3,1:5]  + 2
print(x2)
print(x2.ndim)

2
[[113 114 115 116]]
2

In [310]:
### add
numarr5 = np.arange(125,150)
numarr5

array([125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137,
       138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149])

In [313]:
numarr5_reshape = numarr5.reshape(5,5)
print(numarr5_reshape)

[[125 126 127 128 129]
 [130 131 132 133 134]
 [135 136 137 138 139]
 [140 141 142 143 144]
 [145 146 147 148 149]]

In [315]:
numarr5 + numarr5_reshape

###3 this will give an error

ValueError: operands could not be broadcast together with shapes (25,) (5,5)

In [298]:
numarr5 + numarr5

array([250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274,
       276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298])

In [234]:
numarr5 + 1

array([126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150])

In [235]:
numarr5 * 5

array([625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685,
       690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745])

In [ ]:
numarr5 * numarr5

In [299]:
numarr5 =  (numarr5 * 10)
print(numarr5)

[1250 1260 1270 1280 1290 1300 1310 1320 1330 1340 1350 1360 1370 1380
 1390 1400 1410 1420 1430 1440 1450 1460 1470 1480 1490]

In [300]:
### subtraction
print(numarr5 - 10000)

[-8750 -8740 -8730 -8720 -8710 -8700 -8690 -8680 -8670 -8660 -8650 -8640
 -8630 -8620 -8610 -8600 -8590 -8580 -8570 -8560 -8550 -8540 -8530 -8520
 -8510]

In [ ]:
print(numarr5)

In [301]:
numarr5 = numarr5 - 10000
print(numarr5)

[-8750 -8740 -8730 -8720 -8710 -8700 -8690 -8680 -8670 -8660 -8650 -8640
 -8630 -8620 -8610 -8600 -8590 -8580 -8570 -8560 -8550 -8540 -8530 -8520
 -8510]

In [305]:
numarr6 = np.arange(5,20)
numarr6

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [306]:
numarr6_reshaped = numarr6.reshape(5,3)
print(numarr6_reshaped)

[[ 5  6  7]
 [ 8  9 10]
 [11 12 13]
 [14 15 16]
 [17 18 19]]

In [307]:
numarr6_reshaped * 3

array([[15, 18, 21],
       [24, 27, 30],
       [33, 36, 39],
       [42, 45, 48],
       [51, 54, 57]])

In [192]:
numarr6_reshaped = numarr6_reshaped * 3
print(numarr6_reshaped)

[[15 18 21]
 [24 27 30]
 [33 36 39]
 [42 45 48]
 [51 54 57]]

In [193]:
###  power
numarr6_reshaped ** 3

array([[  3375,   5832,   9261],
       [ 13824,  19683,  27000],
       [ 35937,  46656,  59319],
       [ 74088,  91125, 110592],
       [132651, 157464, 185193]], dtype=int32)

In [246]:
numarr6_reshaped / 6

array([[2.5, 3. , 3.5],
       [4. , 4.5, 5. ],
       [5.5, 6. , 6.5],
       [7. , 7.5, 8. ],
       [8.5, 9. , 9.5]])

In [ ]:
### universal array functions

In [323]:
### taking square roots
np.sqrt(numarr6_reshaped)

array([[2.23606798, 2.44948974, 2.64575131],
       [2.82842712, 3.        , 3.16227766],
       [3.31662479, 3.46410162, 3.60555128],
       [3.74165739, 3.87298335, 4.        ],
       [4.12310563, 4.24264069, 4.35889894]])

In [324]:
### exponential 
np.exp(numarr6_reshaped)

array([[1.48413159e+02, 4.03428793e+02, 1.09663316e+03],
       [2.98095799e+03, 8.10308393e+03, 2.20264658e+04],
       [5.98741417e+04, 1.62754791e+05, 4.42413392e+05],
       [1.20260428e+06, 3.26901737e+06, 8.88611052e+06],
       [2.41549528e+07, 6.56599691e+07, 1.78482301e+08]])

In [325]:
### sin value of a array
np.sin(numarr6_reshaped)

array([[-0.95892427, -0.2794155 ,  0.6569866 ],
       [ 0.98935825,  0.41211849, -0.54402111],
       [-0.99999021, -0.53657292,  0.42016704],
       [ 0.99060736,  0.65028784, -0.28790332],
       [-0.96139749, -0.75098725,  0.14987721]])

In [326]:
### log of array
np.log(numarr6_reshaped)

array([[1.60943791, 1.79175947, 1.94591015],
       [2.07944154, 2.19722458, 2.30258509],
       [2.39789527, 2.48490665, 2.56494936],
       [2.63905733, 2.7080502 , 2.77258872],
       [2.83321334, 2.89037176, 2.94443898]])

In [256]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [260]:
my2darr_reshape[2:3,1:5]

array([[111, 112, 113, 114]])

In [327]:
my2darr_reshape

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [329]:
#### checkinf for existance of a value in a numpy array

In [335]:
### check if 111 is there in my2darr_reshape using in 111,112,113 and 114
111 in my2darr_reshape

True

In [336]:
 ### check if 111 is there in my2darr_reshape using in 111,112,113 and 114
my2darr_reshape[2:3,1:5] == 111

array([[ True, False, False, False]])

In [198]:
111 in my2darr_reshape[2:3,1:5]

True

In [258]:
120 in my2darr_reshape[2:3,1:5]

False

In [259]:
my2darr_reshape[2:3,1:5] > 200

array([[False, False, False, False]])

In [64]:
mylist = [1,2,3,4,'a']

In [ ]:
mylist.

In [65]:
myvar= 10
myvar.

## NumPy - Array Input and Output

In [1]:
import numpy as np

In [2]:
#Create a simple array
simple_array = np.arange(11)

simple_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
#Save array on hard disk in binary format (file extension is .npy)
np.save('array1',simple_array)

In [4]:
#Change arr
simple_array = np.arange(21)
#Show
simple_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [5]:
#Lets see the original saved copy - This does not get affected by the changes we have made to the simple_array
np.load('array1.npy')

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [6]:
#Saving multiple arrays into a zip file using savez (file extension is .npz and not .npy)
np.savez('2_arrays.npz',a=simple_array,b=simple_array)

In [7]:
#Now loading multiple arrays using load
archived_arrays = np.load('2_arrays.npz')

#Show
archived_arrays['a']

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [8]:
#Saving the arrays as text files

simple_array2 = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
np.savetxt('my_text.txt',simple_array2,delimiter=',')

In [9]:
simple_array2 = np.loadtxt('my_text.txt',delimiter = ',')

simple_array2

array([[  1.,   2.,   3.,   4.,   5.,   6.,   7.],
       [  8.,   9.,  10.,  11.,  12.,  13.,  14.]])