In [1]:
# This is a comment
### This is also a comment

This is a markdown and like a heading

In [2]:
print('''I am Vishwanath
I am an Data Engineer
And I like programing''')

I am Vishwanath
I am an Data Engineer
And I like programing

In [3]:
# Printing in a single lime
'''I am Vishwanath
I am an Data Engineer
And I like programing'''

'I am Vishwanath\nI am an Data Engineer\nAnd I like programing'

In [4]:
'I am Vishwanath'
'I am an Data Engineer' # Only prints last sentence

'I am an Data Engineer'

In [5]:
### use of escape sequence "\" "\t" "\n" etc
print('I\'m Vishwanath')
print("I am Vishwanath")
print('''I'm Vishwanath "VT"''')

I'm Vishwanath
I am Vishwanath
I'm Vishwanath "VT"

In [6]:
print(300/20)
print('\n')
print(300.0/20.5)

15.0


14.634146341463415

In [7]:
## to get a float as an integer
(int)(300/20)

15

In [8]:
print(2**4) #power represented as **

16

In [9]:
# BODMAS will be supported by python
print(2+10*10+3)

105

In [10]:
print((2+10)*(10+3))

156

In [11]:
print((2*3)+2**3-10)

4

In [12]:
## Creatig a variable called myvar0
myvar0 = 5
print(myvar0)
print(type(myvar0))

5
<class 'int'>

In [13]:
myvar00='I am Vishwanath' #Dynamic typing in python
myvar01=99.9
print(myvar00)
print(type(myvar00))
print(myvar01)
print(type(myvar01))

I am Vishwanath
<class 'str'>
99.9
<class 'float'>

In [14]:
myvar00='Vishwa'
print(myvar00)
print(type(myvar00))

Vishwa
<class 'str'>

In [15]:
print(myvar00 != myvar01)
print(myvar00 == myvar01)

True
False

In [16]:
#Data types in python
x = 5
type(x)

int

In [17]:
myFirstlist = [100,10.36,'A','a','my String']
print(myFirstlist)

[100, 10.36, 'A', 'a', 'my String']

In [18]:
print(type(myFirstlist))

<class 'list'>

In [19]:
len(myFirstlist)

5

In [20]:
myFirstlist = [100,10.36,'A','a','my String',[199,200],[100,200,399]]
#index        0      1    2   3   4             5           6
#Reverse index -7    -6   -5   -4  -3          -2           -1
#list insidelist (nested list) is possible

In [21]:
myFirstlist[2]

'A'

In [22]:
print(type(myFirstlist[2]))

<class 'str'>

In [23]:
#Slice notation :
print(myFirstlist[2:5])

['A', 'a', 'my String']

In [24]:
print(myFirstlist[:])

[100, 10.36, 'A', 'a', 'my String', [199, 200], [100, 200, 399]]

In [25]:
print(myFirstlist[2:50])

['A', 'a', 'my String', [199, 200], [100, 200, 399]]

In [26]:
print(myFirstlist[0:40:2]) #Skips

[100, 'A', 'my String', [100, 200, 399]]

In [27]:
print(myFirstlist[-1])

[100, 200, 399]

In [28]:
print(myFirstlist[-5:-1])

['A', 'a', 'my String', [199, 200]]

In [29]:
#Get element inside the nested list
myList3 = [12,10.3,[20,'-1','String']]
myList3[2][1] #We can also pass index as a variable

'-1'

In [30]:
#tuples
xtup = (myList3[2][1],myList3[2])
print(xtup)
print(type(xtup))

('-1', [20, '-1', 'String'])
<class 'tuple'>

In [31]:
#if we add list with another list it will concat as indivisual datatype can be different (number can't be added with string)
#if we add two different elements it will be added if its both are number/int

In [32]:
del myFirstlist

In [33]:
#List can be updated in element level so it is mutable and mutability can't supported by tuples

In [34]:
myStr = 'Vishanath'
myList02 = list(myStr) #converting string to list
print(myList02)
print(type(myList02))

['V', 'i', 's', 'h', 'a', 'n', 'a', 't', 'h']
<class 'list'>

In [35]:
myVar01 = str(myList02) #Converts list to string
print(myVar01)
print(type(myVar01))

['V', 'i', 's', 'h', 'a', 'n', 'a', 't', 'h']
<class 'str'>

In [36]:
list(myStr)

['V', 'i', 's', 'h', 'a', 'n', 'a', 't', 'h']

In [37]:
myList02.pop(0)

'V'

In [38]:
myList02

['i', 's', 'h', 'a', 'n', 'a', 't', 'h']

In [39]:
myList02.append('V')

In [40]:
myList02

['i', 's', 'h', 'a', 'n', 'a', 't', 'h', 'V']

In [41]:
myList02.insert(0,'V')

In [42]:
myList02

['V', 'i', 's', 'h', 'a', 'n', 'a', 't', 'h', 'V']

In [43]:
import pandas as pd